@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300);
.container {
  max-width: 1200px;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto; }

.group:after {
  content: "";
  display: table;
  clear: both; }

.hidden {
  opacity: 0;
  display: none; }

.visible {
  opacity: 1 !important;
  display: block; }

.visibleCell {
  opacity: 1 !important;
  display: table !important; }

.visibleInline {
  opacity: 1;
  display: inline; }

html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-size: 1em; }

.img-responsive {
  display: block;
  height: auto;
  max-width: 100%; }

.clear {
  clear: both; }

.unselectable {
  user-select: none;
  user-drag: none; }

.iframe-responsive.youtube {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden; }

.iframe-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.verticalCenter {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

body {
  background: #fff;
  color: #000;
  font-family: "Roboto", sans-serif;
  background-color: #0097A7; }
  body .scrollHeight {
    height: 100%; }
  body.initBlock {
    background-color: #f3f3f3; }

#renderTemplates {
  width: 100%;
  height: 100%;
  display: block;
  vertical-align: top;
  position: relative; }
  #renderTemplates.columnDisplay {
    width: 60%;
    margin-left: 2%;
    display: inline-block;
    height: auto; }
  #renderTemplates section .sectionHeader {
    border-radius: 8px 8px 0 0;
    background-color: #0097A7;
    color: #fff;
    padding: 30px 16px 40px 16px; }
    #renderTemplates section .sectionHeader h2 {
      font-size: 1.7em; }

.mondialatorBtn, #mondialatorPublish .dropContainer .sendContainer button, #mondialatorLeaderboard .leaderboardNav button, #mondialatorFeed .feedData article .subSocial ul li button, #mondialatorFeed .feedData article .subSocial .comments .comment .commentBody .deleteComment button, #mondialatorFeed .feedData article .commentContainer form .submitMessage input, #mondialatorFeed .loadingFooter button, #mondialatorUser .followBlock button {
  background: #90A4AE;
  color: #fff;
  display: block;
  border: none;
  padding: 10px 40px;
  border-radius: 20px;
  font-size: 0.9em;
  text-transform: uppercase;
  margin: 15px auto;
  cursor: pointer;
  outline: none;
  transition: all 0.2s ease-in-out; }
  .mondialatorBtn:hover, #mondialatorPublish .dropContainer .sendContainer button:hover, #mondialatorLeaderboard .leaderboardNav button:hover, #mondialatorFeed .feedData article .subSocial ul li button:hover, #mondialatorFeed .feedData article .subSocial .comments .comment .commentBody .deleteComment button:hover, #mondialatorFeed .feedData article .commentContainer form .submitMessage input:hover, #mondialatorFeed .loadingFooter button:hover, #mondialatorUser .followBlock button:hover, .mondialatorBtn:active, #mondialatorPublish .dropContainer .sendContainer button:active, #mondialatorLeaderboard .leaderboardNav button:active, #mondialatorFeed .feedData article .subSocial ul li button:active, #mondialatorFeed .feedData article .subSocial .comments .comment .commentBody .deleteComment button:active, #mondialatorFeed .feedData article .commentContainer form .submitMessage input:active, #mondialatorFeed .loadingFooter button:active, #mondialatorUser .followBlock button:active {
    background: #607D8B; }

#mondialatorMainLoader {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #0097A7;
  color: #fff;
  font-size: 2.2em;
  font-weight: 300;
  text-align: center;
  z-index: 1000; }
  #mondialatorMainLoader .subLoadingContent {
    position: relative;
    top: 50%;
    transform: translateY(-50%); }

#mondialatorSubLoader {
  display: none;
  color: #0097A7;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fff;
  text-align: center;
  border-radius: 8px 8px 0 0;
  font-size: 3em;
  opacity: 0; }
  #mondialatorSubLoader.initBlock {
    display: block;
    opacity: 0.8; }
  #mondialatorSubLoader.columnDisplay {
    width: 60%;
    margin-left: 2%;
    display: inline-block;
    height: auto; }
  #mondialatorSubLoader .subLoadingContent {
    position: relative;
    top: 50%;
    transform: translateY(-50%); }

#mondialatorNav {
  background: #0097A7;
  color: #fff;
  display: none; }
  #mondialatorNav.initBlock {
    display: block; }
  #mondialatorNav nav {
    max-width: 1200px;
    margin: 0 auto; }
    #mondialatorNav nav h1, #mondialatorNav nav ul {
      display: inline-block;
      vertical-align: middle; }
    #mondialatorNav nav a {
      color: #fff;
      text-decoration: none; }
      #mondialatorNav nav a span.little {
        display: none; }
    #mondialatorNav nav h1 {
      width: 20%;
      max-width: 300px;
      text-align: center;
      font-size: 1.8em;
      font-weight: 300;
      padding: 8px 0;
      border-right: 2px solid #fff;
      box-sizing: border-box;
      vertical-align: center; }
    #mondialatorNav nav .mainMenu {
      margin-left: 2%;
      width: 58%;
      font-weight: 300;
      vertical-align: middle; }
      #mondialatorNav nav .mainMenu li {
        display: inline-block;
        font-size: 1.8em;
        vertical-align: middle;
        text-align: center;
        /* width: 25%; */
        width: 33%;
        max-width: 200px; }
        #mondialatorNav nav .mainMenu li a {
          display: block;
          padding: 14px 0px; }
          #mondialatorNav nav .mainMenu li a i.fa {
            font-size: 0.65em; }
          #mondialatorNav nav .mainMenu li a span {
            font-size: 0.6em; }
          #mondialatorNav nav .mainMenu li a:hover, #mondialatorNav nav .mainMenu li a:active {
            background: #237B84; }
        #mondialatorNav nav .mainMenu li:first-child {
          margin-left: 0; }
        #mondialatorNav nav .mainMenu li.user {
          font-size: 1em;
          padding: 3px 0;
          cursor: pointer;
          position: relative;
          width: 34%; }
          #mondialatorNav nav .mainMenu li.user .profilePicture, #mondialatorNav nav .mainMenu li.user span {
            display: inline-block;
            vertical-align: middle; }
          #mondialatorNav nav .mainMenu li.user .profilePicture {
            width: calc(30% - 10px);
            margin-left: 10px;
            max-width: 80px; }
            #mondialatorNav nav .mainMenu li.user .profilePicture img {
              border-radius: 50%;
              max-width: 50px;
              margin: 0 auto; }
          #mondialatorNav nav .mainMenu li.user span {
            width: calc(70% - 20px);
            margin-left: 20px;
            text-align: left; }
            #mondialatorNav nav .mainMenu li.user span i {
              margin-left: 8px; }
          #mondialatorNav nav .mainMenu li.user .optionsContainer {
            display: none;
            opacity: 1;
            position: absolute;
            margin-left: 0;
            width: 100%;
            left: 0;
            margin-top: 10px;
            z-index: 1001; }
            #mondialatorNav nav .mainMenu li.user .optionsContainer ul {
              position: relative;
              background: #fff;
              box-shadow: 0px 8px 20px 0px #949494;
              min-width: 100%; }
              #mondialatorNav nav .mainMenu li.user .optionsContainer ul li {
                width: 100%;
                font-size: 1.1em;
                text-align: center; }
                #mondialatorNav nav .mainMenu li.user .optionsContainer ul li a {
                  padding: 14px 0;
                  color: #0097A7; }
                  #mondialatorNav nav .mainMenu li.user .optionsContainer ul li a:hover, #mondialatorNav nav .mainMenu li.user .optionsContainer ul li a:active {
                    color: #fff; }
              #mondialatorNav nav .mainMenu li.user .optionsContainer ul::before, #mondialatorNav nav .mainMenu li.user .optionsContainer ul:before {
                width: 0;
                height: 0;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-bottom: 10px solid #fff;
                position: absolute;
                content: "";
                top: -10px;
                left: 50%; }
          #mondialatorNav nav .mainMenu li.user:hover, #mondialatorNav nav .mainMenu li.user:active {
            background: #237B84; }
          #mondialatorNav nav .mainMenu li.user.collapsed {
            background: #237B84; }
            #mondialatorNav nav .mainMenu li.user.collapsed .optionsContainer {
              display: block; }
        #mondialatorNav nav .mainMenu li.littleLogout {
          display: none; }
    #mondialatorNav nav #mondialatorSearch {
      display: inline-block;
      vertical-align: middle;
      position: relative;
      width: 18%;
      margin-left: 2%;
      z-index: 1000; }
      #mondialatorNav nav #mondialatorSearch .aroundSearch {
        position: relative; }
        #mondialatorNav nav #mondialatorSearch .aroundSearch .glass {
          position: relative;
          width: 18%;
          vertical-align: middle;
          display: inline-block;
          top: 0px;
          color: #237B84;
          font-size: 20px;
          line-height: 30px;
          text-align: center;
          height: 100%;
          border-radius: 0 2px 2px 0; }
        #mondialatorNav nav #mondialatorSearch .aroundSearch input {
          display: inline-block;
          vertical-align: middle;
          box-sizing: border-box;
          background: #0097A7;
          border: none;
          color: #fff;
          max-width: calc(100% - 6px);
          width: 82%;
          font-size: 1.1em;
          padding: 6px 0;
          padding-bottom: 2px;
          outline: none;
          border-radius: 2px;
          padding-left: 6px;
          font-weight: 300;
          border-bottom: 2px solid #237B84; }
        #mondialatorNav nav #mondialatorSearch .aroundSearch ::-webkit-input-placeholder {
          color: #fff; }
        #mondialatorNav nav #mondialatorSearch .aroundSearch :-moz-placeholder {
          color: #fff;
          opacity: 1; }
        #mondialatorNav nav #mondialatorSearch .aroundSearch ::-moz-placeholder {
          color: #fff;
          opacity: 1; }
        #mondialatorNav nav #mondialatorSearch .aroundSearch :-ms-input-placeholder {
          color: #fff; }
        #mondialatorNav nav #mondialatorSearch .aroundSearch :placeholder-shown {
          color: #fff; }
        #mondialatorNav nav #mondialatorSearch .aroundSearch input[type="search"] {
          -moz-appearance: textfield;
          -webkit-appearance: textfield;
          appearance: textfield; }
        #mondialatorNav nav #mondialatorSearch .aroundSearch input[type=text]::-ms-clear {
          display: none;
          width: 0;
          height: 0; }
        #mondialatorNav nav #mondialatorSearch .aroundSearch input[type=text]::-ms-reveal {
          display: none;
          width: 0;
          height: 0; }
        #mondialatorNav nav #mondialatorSearch .aroundSearch input[type="search"]::-webkit-search-decoration,
        #mondialatorNav nav #mondialatorSearch .aroundSearch input[type="search"]::-webkit-search-cancel-button,
        #mondialatorNav nav #mondialatorSearch .aroundSearch input[type="search"]::-webkit-search-results-button,
        #mondialatorNav nav #mondialatorSearch .aroundSearch input[type="search"]::-webkit-search-results-decoration {
          display: none; }
      #mondialatorNav nav #mondialatorSearch .searchMenu {
        position: absolute;
        top: 100%;
        width: 300px;
        left: -50%;
        max-height: 300px;
        padding-top: 12px; }
        #mondialatorNav nav #mondialatorSearch .searchMenu .aroundList {
          position: relative;
          width: 100%;
          box-shadow: 0px 0px 5px 0px #c3c3c3; }
          #mondialatorNav nav #mondialatorSearch .searchMenu .aroundList::before, #mondialatorNav nav #mondialatorSearch .searchMenu .aroundList:before {
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid #Fff;
            position: absolute;
            content: "";
            top: -10px;
            left: 50%; }
        #mondialatorNav nav #mondialatorSearch .searchMenu .sectionName {
          background: #fff;
          text-transform: uppercase;
          padding: 8px 0;
          font-size: 0.9em;
          color: #000;
          font-weight: 500;
          text-align: center;
          border-bottom: 2px solid #f3f3f3;
          position: relative; }
        #mondialatorNav nav #mondialatorSearch .searchMenu .searchList {
          display: block; }
          #mondialatorNav nav #mondialatorSearch .searchMenu .searchList li {
            text-align: center;
            color: #000;
            border-bottom: none;
            background: #fff; }
            #mondialatorNav nav #mondialatorSearch .searchMenu .searchList li ul {
              width: 100%;
              box-sizing: border-box; }
              #mondialatorNav nav #mondialatorSearch .searchMenu .searchList li ul li a {
                display: block;
                padding: 10px 0;
                color: inherit;
                border-top: 1px solid #0097A7;
                color: #0097A7; }
                #mondialatorNav nav #mondialatorSearch .searchMenu .searchList li ul li a .profilePicture {
                  width: 20%;
                  display: inline-block;
                  vertical-align: middle;
                  margin-left: 10px; }
                  #mondialatorNav nav #mondialatorSearch .searchMenu .searchList li ul li a .profilePicture img {
                    border-radius: 50%;
                    max-width: 48px;
                    margin: 0 auto; }
                #mondialatorNav nav #mondialatorSearch .searchMenu .searchList li ul li a .profileName {
                  width: calc(80% - 20px);
                  display: inline-block;
                  vertical-align: middle;
                  padding-left: 10px;
                  font-size: 1em;
                  font-weight: 500;
                  text-align: left; }
                #mondialatorNav nav #mondialatorSearch .searchMenu .searchList li ul li a:hover, #mondialatorNav nav #mondialatorSearch .searchMenu .searchList li ul li a:active {
                  background: #237B84;
                  color: #fff; }
              #mondialatorNav nav #mondialatorSearch .searchMenu .searchList li ul li:first-child a {
                border-top: none; }
        #mondialatorNav nav #mondialatorSearch .searchMenu .closer {
          text-align: center;
          padding: 8px 0;
          background-color: #fff;
          color: #0097A7;
          border-top: 2px solid #f3f3f3;
          cursor: pointer; }
          #mondialatorNav nav #mondialatorSearch .searchMenu .closer:active, #mondialatorNav nav #mondialatorSearch .searchMenu .closer:hover {
            background-color: #0097A7;
            color: #fff; }

#mondialatorDock {
  width: 38%;
  display: none;
  vertical-align: top; }
  #mondialatorDock.initBlock {
    display: inline-block; }
  #mondialatorDock nav {
    margin-top: 32px;
    background: #fff;
    border-radius: 6px 6px 0 0;
    box-shadow: 3px 2px 20px 0px #DCDCDC; }
    #mondialatorDock nav .userInfo {
      width: calc(100% - 16px);
      padding: 26px 8px 0 8px;
      margin-top: 14px; }
      #mondialatorDock nav .userInfo .profilePicture, #mondialatorDock nav .userInfo .userData {
        display: inline-block;
        vertical-align: top; }
      #mondialatorDock nav .userInfo .profilePicture {
        width: 30%;
        vertical-align: middle; }
        #mondialatorDock nav .userInfo .profilePicture .aroundPicture {
          max-width: 75px;
          margin: 0 auto; }
          #mondialatorDock nav .userInfo .profilePicture .aroundPicture img {
            border-radius: 50%;
            border: 4px solid #0097A7; }
      #mondialatorDock nav .userInfo .userData {
        width: calc(70% - 10px);
        margin-left: 10px;
        vertical-align: middle; }
        #mondialatorDock nav .userInfo .userData .name {
          font-size: 1.4em;
          color: inherit;
          text-decoration: none; }
          #mondialatorDock nav .userInfo .userData .name .flag-icon {
            font-size: 0.85em;
            border-radius: 50%; }
        #mondialatorDock nav .userInfo .userData ul {
          margin-top: 8px;
          font-size: 1.2em; }
          #mondialatorDock nav .userInfo .userData ul li {
            margin-bottom: 4px; }
            #mondialatorDock nav .userInfo .userData ul li a {
              text-decoration: none;
              color: inherit; }
            #mondialatorDock nav .userInfo .userData ul li i {
              color: #0097A7; }
      #mondialatorDock nav .userInfo .followData {
        padding: 20px 0 15px 0;
        margin-top: 20px;
        border-top: 2px solid #f3f3f3; }
        #mondialatorDock nav .userInfo .followData .following, #mondialatorDock nav .userInfo .followData .follow {
          display: inline-block;
          vertical-align: top;
          width: 50%;
          text-align: center;
          text-decoration: none;
          color: inherit; }
          #mondialatorDock nav .userInfo .followData .following p, #mondialatorDock nav .userInfo .followData .follow p {
            text-transform: uppercase;
            margin-bottom: 8px; }
    #mondialatorDock nav .dayInfo {
      display: none;
      width: calc(100% - 28px);
      padding: 26px 8px 30px 20px;
      background-color: #0097A7;
      color: #fff; }
      #mondialatorDock nav .dayInfo .dayName {
        font-size: 1.3em;
        text-transform: uppercase;
        color: inherit;
        margin-bottom: 6px;
        text-decoration: none; }
      #mondialatorDock nav .dayInfo .dayDesc {
        font-size: 0.9em; }
      #mondialatorDock nav .dayInfo.initBlock {
        display: block; }

#mondialatorPublish {
  margin-top: 32px;
  background: #fff;
  border-radius: 6px 6px 0 0;
  box-shadow: 3px 2px 20px 0px #DCDCDC; }
  #mondialatorPublish .dropContainer {
    margin-top: 20px;
    padding: 0 20px 20px 20px; }
    #mondialatorPublish .dropContainer form {
      border-color: #f3f3f3;
      background-color: #fff;
      transition: all 0.2s ease-in-out 0.6s; }
      #mondialatorPublish .dropContainer form .dz-message {
        font-size: 1.2em;
        text-transform: uppercase;
        font-weight: 300;
        opacity: 1; }
      #mondialatorPublish .dropContainer form.submissionSend {
        border-color: #0097A7;
        background-color: #0097A7; }
    #mondialatorPublish .dropContainer .sendContainer {
      min-height: 36px; }
      #mondialatorPublish .dropContainer .sendContainer button {
        margin: 18px auto 0; }
        #mondialatorPublish .dropContainer .sendContainer button:disabled {
          display: none; }

#mondialatorLeaderboard {
  margin-top: 32px;
  background: #fff;
  border-radius: 6px 6px 0 0;
  box-shadow: 3px 2px 20px 0px #DCDCDC; }
  #mondialatorLeaderboard ul {
    padding: 0 12px;
    margin-top: 40px; }
    #mondialatorLeaderboard ul .winner {
      width: 100%;
      margin: 0 auto 12px;
      padding: 0 5px 10px 5px;
      border-bottom: 3px solid #f3f3f3; }
      #mondialatorLeaderboard ul .winner .winnerContainer {
        width: 100%;
        margin: 0 auto; }
        #mondialatorLeaderboard ul .winner .winnerContainer .rank, #mondialatorLeaderboard ul .winner .winnerContainer .country, #mondialatorLeaderboard ul .winner .winnerContainer .picture, #mondialatorLeaderboard ul .winner .winnerContainer .userData {
          display: inline-block;
          vertical-align: middle; }
        #mondialatorLeaderboard ul .winner .winnerContainer .rank {
          font-weight: 500;
          font-size: 1.6em;
          width: 10%;
          text-align: center;
          max-width: 60px; }
        #mondialatorLeaderboard ul .winner .winnerContainer .country {
          width: 10%;
          text-align: center;
          font-size: 1.1em;
          max-width: 60px; }
        #mondialatorLeaderboard ul .winner .winnerContainer .picture {
          width: 30%;
          max-width: 86px; }
          #mondialatorLeaderboard ul .winner .winnerContainer .picture img {
            max-width: 55px;
            border-radius: 50%;
            margin: 0 auto; }
        #mondialatorLeaderboard ul .winner .winnerContainer .userData {
          width: calc(50% - 10px);
          padding-left: 10px; }
          #mondialatorLeaderboard ul .winner .winnerContainer .userData h3 {
            font-size: 1.1em;
            margin-bottom: 8px;
            font-weight: 500;
            color: #0097A7; }
            #mondialatorLeaderboard ul .winner .winnerContainer .userData h3 a {
              color: inherit;
              text-decoration: none; }
          #mondialatorLeaderboard ul .winner .winnerContainer .userData p {
            font-size: 0.9em;
            color: #828282; }
            #mondialatorLeaderboard ul .winner .winnerContainer .userData p i {
              color: #0097A7; }
      #mondialatorLeaderboard ul .winner:first-child {
        border-top: 3px solid #f3f3f3;
        padding-top: 10px; }
      #mondialatorLeaderboard ul .winner:last-child {
        margin-bottom: 0px; }
  #mondialatorLeaderboard .leaderboardNav {
    padding: 10px 0; }

#mondialatorFeed {
  margin-top: 32px;
  background: #fff;
  border-radius: 6px 6px 0 0;
  box-shadow: 3px 2px 20px 0px #DCDCDC; }
  #mondialatorFeed .dayInfo {
    border-radius: 8px 8px 0 0;
    background-color: #0097A7;
    color: #fff;
    padding: 30px 16px 40px 16px; }
    #mondialatorFeed .dayInfo h2 {
      font-size: 1.8em;
      font-weight: 700;
      margin-bottom: 30px;
      line-height: 1.2em; }
    #mondialatorFeed .dayInfo .challenge h3 {
      font-size: 1.4em;
      font-weight: 700; }
      #mondialatorFeed .dayInfo .challenge h3 div {
        display: inline-block;
        border-bottom: 3px solid #fff;
        padding-bottom: 10px;
        padding-right: 10px;
        margin-bottom: 12px; }
    #mondialatorFeed .dayInfo .challenge .challengeDesc {
      font-size: 0.9em;
      line-height: 1.3em; }
    #mondialatorFeed .dayInfo .challenge .btnContainer {
      text-align: right;
      padding-right: 36px; }
      #mondialatorFeed .dayInfo .challenge .btnContainer a {
        display: inline-block;
        font-size: 1.1em;
        text-decoration: none; }
  #mondialatorFeed .feedData article {
    padding: 0 40px;
    margin-top: 24px; }
    #mondialatorFeed .feedData article header {
      padding: 10px 0; }
      #mondialatorFeed .feedData article header .author {
        display: inline-block;
        width: 80%; }
        #mondialatorFeed .feedData article header .author .pictureContainer, #mondialatorFeed .feedData article header .author .userContainer {
          display: inline-block;
          vertical-align: middle; }
        #mondialatorFeed .feedData article header .author .pictureContainer {
          max-width: 70px; }
          #mondialatorFeed .feedData article header .author .pictureContainer img {
            border-radius: 50%; }
        #mondialatorFeed .feedData article header .author .userContainer {
          font-size: 1.2em;
          margin-left: 12px;
          vertical-align: top;
          margin-top: 8px; }
          #mondialatorFeed .feedData article header .author .userContainer p:first-child {
            margin-bottom: 6px;
            color: #237B84; }
          #mondialatorFeed .feedData article header .author .userContainer p.challenge {
            text-transform: uppercase;
            font-size: 0.8em; }
          #mondialatorFeed .feedData article header .author .userContainer p a {
            color: inherit;
            text-decoration: none; }
      #mondialatorFeed .feedData article header .date {
        display: inline-block;
        width: 20%;
        font-size: 0.85em;
        vertical-align: top;
        text-align: right;
        margin-top: 8px;
        color: #828282; }
    #mondialatorFeed .feedData article .subData .aroundMedia {
      min-height: 300px;
      background: url("../../images/default_picture.jpg") no-repeat center center transparent;
      background-size: contain; }
      #mondialatorFeed .feedData article .subData .aroundMedia img {
        margin: 0 auto;
        display: none; }
    #mondialatorFeed .feedData article .subSocial {
      padding: 20px 0;
      border-bottom: 3px solid #dedede; }
      #mondialatorFeed .feedData article .subSocial ul {
        text-align: right; }
        #mondialatorFeed .feedData article .subSocial ul li {
          display: inline-block;
          vertical-align: middle;
          color: #237B84;
          color: #0097A7;
          margin-left: 5px; }
          #mondialatorFeed .feedData article .subSocial ul li button {
            cursor: pointer;
            color: inherit;
            font-size: 1.4em;
            border: none;
            outline: none;
            font-size: 0.8em;
            padding: 2px 8px;
            color: #fff; }
            #mondialatorFeed .feedData article .subSocial ul li button span {
              font-weight: 200; }
            #mondialatorFeed .feedData article .subSocial ul li button .fa-stack {
              font-size: 0.68em; }
      #mondialatorFeed .feedData article .subSocial .comments {
        margin-top: 4px; }
        #mondialatorFeed .feedData article .subSocial .comments .comment {
          padding: 8px 4px;
          background: #dedede;
          border-bottom: 4px solid #fff; }
          #mondialatorFeed .feedData article .subSocial .comments .comment:last-child {
            border-bottom: none; }
          #mondialatorFeed .feedData article .subSocial .comments .comment .user {
            font-size: 0.98em;
            padding-left: 10px;
            margin-bottom: 8px; }
          #mondialatorFeed .feedData article .subSocial .comments .comment .commentBody {
            padding-left: 10px;
            width: calc(100% - 10px); }
            #mondialatorFeed .feedData article .subSocial .comments .comment .commentBody .commentUserPicture {
              width: 60px;
              display: inline-block;
              vertical-align: top; }
              #mondialatorFeed .feedData article .subSocial .comments .comment .commentBody .commentUserPicture img {
                border-radius: 50%; }
            #mondialatorFeed .feedData article .subSocial .comments .comment .commentBody .commentText {
              width: calc(84% - 12px - 60px);
              display: inline-block;
              vertical-align: top;
              padding: 6px;
              margin-left: 6%;
              line-height: 1.2em; }
              #mondialatorFeed .feedData article .subSocial .comments .comment .commentBody .commentText .userName {
                margin-bottom: 8px; }
            #mondialatorFeed .feedData article .subSocial .comments .comment .commentBody .deleteComment {
              display: inline-block;
              vertical-align: top;
              width: 10%;
              text-align: center; }
              #mondialatorFeed .feedData article .subSocial .comments .comment .commentBody .deleteComment button {
                padding: 0;
                width: 26px;
                height: 26px;
                margin: 0 auto; }
    #mondialatorFeed .feedData article .commentContainer {
      background-color: #dedede; }
      #mondialatorFeed .feedData article .commentContainer form {
        padding: 8px 10px 10px 10px;
        max-width: 640px;
        width: calc(100% - 20px);
        margin: 0 auto; }
        #mondialatorFeed .feedData article .commentContainer form .message {
          display: inline-block;
          vertical-align: middle;
          border: none;
          outline: none;
          border-radius: 2px;
          min-height: 36px;
          width: calc(70% - 10px);
          padding-left: 10px;
          margin-right: 2%;
          font-size: 1em; }
        #mondialatorFeed .feedData article .commentContainer form .submitMessage {
          display: inline-block;
          vertical-align: middle;
          width: 28%; }
          #mondialatorFeed .feedData article .commentContainer form .submitMessage input {
            max-width: 135px;
            margin: 0 auto; }
  #mondialatorFeed .loadingFooter {
    padding: 20px 0; }
    #mondialatorFeed .loadingFooter button {
      margin: 0 auto; }

#mondialatorUser {
  margin-top: 32px;
  background: #fff;
  border-radius: 6px 6px 0 0;
  box-shadow: 3px 2px 20px 0px #DCDCDC; }
  #mondialatorUser .userRecap {
    padding-top: 26px;
    background: #0097A7;
    border-radius: inherit;
    text-align: center;
    color: #fff; }
    #mondialatorUser .userRecap .profilePicture {
      margin-bottom: 16px; }
      #mondialatorUser .userRecap .profilePicture img {
        margin: 0 auto;
        border-radius: 50%;
        border: 6px solid #fff;
        box-sizing: border-box;
        height: 126px; }
    #mondialatorUser .userRecap h2 {
      font-size: 1.8em;
      margin-bottom: 18px; }
      #mondialatorUser .userRecap h2 .flag-icon {
        font-size: 0.85em;
        border-radius: 50%; }
    #mondialatorUser .userRecap .numbers ul {
      background: #fff;
      color: #000;
      position: relative;
      padding-bottom: 8px; }
      #mondialatorUser .userRecap .numbers ul li {
        display: inline-block;
        width: 20%;
        text-transform: uppercase;
        font-size: 1em;
        vertical-align: top; }
        #mondialatorUser .userRecap .numbers ul li h3 {
          margin: 12px auto 8px;
          color: #0097A7; }
        #mondialatorUser .userRecap .numbers ul li p {
          margin-bottom: 12px; }
      #mondialatorUser .userRecap .numbers ul::after, #mondialatorUser .userRecap .numbers ul:after, #mondialatorUser .userRecap .numbers ul::before, #mondialatorUser .userRecap .numbers ul:before {
        width: calc(100% - 20px);
        position: absolute;
        left: 10px;
        top: calc(100% - 8px);
        height: 2px;
        background: #f3f3f3;
        content: "";
        display: block; }
  #mondialatorUser .followBlock button {
    background: #90A4AE; }
    #mondialatorUser .followBlock button:hover, #mondialatorUser .followBlock button:active {
      background: #607D8B; }
  #mondialatorUser .userDataView {
    padding: 0 8px 0 0;
    margin-top: 20px;
    padding-bottom: 30px; }
    #mondialatorUser .userDataView .navDataView {
      display: inline-block;
      width: 30%; }
      #mondialatorUser .userDataView .navDataView ul li a {
        display: block;
        font-size: 0.95em;
        color: #848484;
        text-decoration: none;
        padding: 13px 0;
        padding-left: 20px;
        width: 100%;
        box-sizing: border-box;
        border-left: 4px solid transparent; }
        #mondialatorUser .userDataView .navDataView ul li a:hover, #mondialatorUser .userDataView .navDataView ul li a:active, #mondialatorUser .userDataView .navDataView ul li a.active {
          background: #efefef;
          border-left-color: #0097A7; }
    #mondialatorUser .userDataView .dataViewBrief {
      display: inline-block;
      width: calc(70% - 40px);
      padding-right: 20px;
      margin-left: 20px;
      vertical-align: top;
      /* box-shadow: -3px 0px 20px 0px #DCDCDC; */
      height: 100%;
      min-height: 170px;
      position: relative;
      /*&::after, &:after{
				left: -20px;
				background: #FF0;
				top: 0px;
				content: "";
				position: absolute;
				z-index: -1;
				height: 100%;
				width: 100%;
				background: red;
				display: block;
			}*/ }
      #mondialatorUser .userDataView .dataViewBrief .blason, #mondialatorUser .userDataView .dataViewBrief .card {
        width: calc(40% - 24px);
        padding: 12px;
        padding-top: 18px;
        text-align: center;
        text-transform: uppercase;
        border-radius: 12px;
        box-shadow: 3px 0px 20px 0px #DCDCDC;
        display: inline-block;
        margin-bottom: 24px; }
        #mondialatorUser .userDataView .dataViewBrief .blason .pictureContainer, #mondialatorUser .userDataView .dataViewBrief .card .pictureContainer {
          background: url("../../images/default_picture.jpg") center center no-repeat;
          height: 130px;
          width: 130px;
          border-radius: 50%;
          background-size: cover;
          margin: 0 auto; }
          #mondialatorUser .userDataView .dataViewBrief .blason .pictureContainer img, #mondialatorUser .userDataView .dataViewBrief .card .pictureContainer img {
            margin: 0 auto;
            border-radius: 50%;
            min-width: 145px;
            display: none; }
        #mondialatorUser .userDataView .dataViewBrief .blason p, #mondialatorUser .userDataView .dataViewBrief .card p {
          margin: 12px auto 6px;
          font-size: 1.2em; }
          #mondialatorUser .userDataView .dataViewBrief .blason p span, #mondialatorUser .userDataView .dataViewBrief .card p span {
            font-size: 0.85em;
            border-radius: 50%; }
        #mondialatorUser .userDataView .dataViewBrief .blason.odd, #mondialatorUser .userDataView .dataViewBrief .card.odd {
          margin-right: 20%; }
        #mondialatorUser .userDataView .dataViewBrief .blason.seeAll, #mondialatorUser .userDataView .dataViewBrief .card.seeAll {
          color: inherit;
          text-decoration: none; }
          #mondialatorUser .userDataView .dataViewBrief .blason.seeAll .rounded, #mondialatorUser .userDataView .dataViewBrief .card.seeAll .rounded {
            border-radius: 50%;
            background: #607D8B;
            color: #fff;
            text-align: center;
            position: relative;
            min-height: 147px;
            font-size: 38px; }
            #mondialatorUser .userDataView .dataViewBrief .blason.seeAll .rounded .centerPlus, #mondialatorUser .userDataView .dataViewBrief .card.seeAll .rounded .centerPlus {
              position: absolute;
              width: 100%;
              text-align: center;
              height: 38px;
              top: calc(50% - 20px); }
        #mondialatorUser .userDataView .dataViewBrief .blason.follow, #mondialatorUser .userDataView .dataViewBrief .card.follow {
          color: inherit;
          text-decoration: none; }
          #mondialatorUser .userDataView .dataViewBrief .blason.follow p, #mondialatorUser .userDataView .dataViewBrief .card.follow p {
            text-transform: none; }

#mondialatorLogin {
  width: 100%;
  height: 100%;
  background-color: #0097A7; }
  #mondialatorLogin .container {
    height: 100%; }
  #mondialatorLogin .login {
    display: table;
    width: 310px;
    margin: 0 auto;
    height: 100%; }
    #mondialatorLogin .login .vcenter {
      display: table-cell;
      vertical-align: middle;
      padding-bottom: 25px; }
    #mondialatorLogin .login .logo {
      text-align: center;
      color: #fff;
      font-size: 2.2em;
      font-weight: 300;
      margin-bottom: 24px; }
    #mondialatorLogin .login .loginContainer {
      margin-left: auto;
      margin-right: auto;
      background: #f3f3f3;
      padding: 10px 14px 18px 14px;
      width: calc(100% - 28px);
      border-radius: 8px; }
      #mondialatorLogin .login .loginContainer h3, #mondialatorLogin .login .loginContainer p {
        text-align: center;
        font-weight: 300;
        font-size: 1.4em;
        margin-top: 15px; }
      #mondialatorLogin .login .loginContainer p {
        margin-top: 10px;
        padding-bottom: 20px;
        border-bottom: 2px solid #0097A7;
        font-size: 1.2em; }
      #mondialatorLogin .login .loginContainer .providerLogin {
        display: block;
        margin: 0 auto;
        cursor: pointer;
        background: #0097A7;
        border: none;
        padding: 18px;
        max-width: 300px;
        width: 100%;
        font-size: 1.1em;
        font-weight: 300;
        font-family: "Roboto", sans-serif;
        outline: none !important;
        color: #fff; }
        #mondialatorLogin .login .loginContainer .providerLogin i {
          margin-right: 10px;
          font-size: 1.3em; }
        #mondialatorLogin .login .loginContainer .providerLogin.facebook {
          margin-top: 16px;
          background-color: #43609C; }
          #mondialatorLogin .login .loginContainer .providerLogin.facebook:hover, #mondialatorLogin .login .loginContainer .providerLogin.facebook:active {
            background: #3C4C6D; }
        #mondialatorLogin .login .loginContainer .providerLogin:last-child {
          margin-bottom: 8px; }
        #mondialatorLogin .login .loginContainer .providerLogin:hover, #mondialatorLogin .login .loginContainer .providerLogin:active {
          background: #237B84; }

@media (max-width: 1040px) {
  #mondialatorUser .userDataView .dataViewBrief .card .pictureContainer, #mondialatorUser .userDataView .dataViewBrief .blason .pictureContainer {
    height: 110px;
    width: 110px; } }

@media (max-width: 900px) {
  .mondialatorContainer {
    max-width: calc(1200px - 16px);
    padding: 0 8px; }
  #mondialatorUser .userDataView {
    padding: 0 8px; }
    #mondialatorUser .userDataView .navDataView {
      display: block;
      width: 100%; }
      #mondialatorUser .userDataView .navDataView ul {
        margin-bottom: 30px; }
        #mondialatorUser .userDataView .navDataView ul li {
          display: inline-block;
          width: 25%; }
          #mondialatorUser .userDataView .navDataView ul li a {
            padding-left: 0px;
            width: 100%;
            padding: 13px 0;
            border: none;
            text-align: center; }
    #mondialatorUser .userDataView .dataViewBrief {
      display: block;
      padding: 0 10px;
      width: calc(100% - 20px);
      margin: 0 auto;
      max-width: 400px; }
      #mondialatorUser .userDataView .dataViewBrief .card, #mondialatorUser .userDataView .dataViewBrief .blason {
        margin-left: 5%; }
        #mondialatorUser .userDataView .dataViewBrief .card p, #mondialatorUser .userDataView .dataViewBrief .blason p {
          font-size: 0.9em; }
        #mondialatorUser .userDataView .dataViewBrief .card.odd, #mondialatorUser .userDataView .dataViewBrief .blason.odd {
          margin-right: 10%; } }

@media (max-width: 800px) {
  #mondialatorNav nav h1 {
    width: 12%; }
    #mondialatorNav nav h1 a span.little {
      display: inline; }
    #mondialatorNav nav h1 a span.big {
      display: none; }
  #mondialatorNav nav .mainMenu {
    width: 64%; }
    #mondialatorNav nav .mainMenu li.user {
      display: none; }
    #mondialatorNav nav .mainMenu li.littleLogout {
      display: inline-block;
      font-size: 1.2em; }
  #mondialatorNav #mondialatorUser .userDataView .dataViewBrief {
    max-width: 700px; }
    #mondialatorNav #mondialatorUser .userDataView .dataViewBrief .card, #mondialatorNav #mondialatorUser .userDataView .dataViewBrief .blason {
      margin-left: 0%;
      width: calc(30% - 12px);
      padding: 12px 6px;
      margin-right: 3% !important; }
  #mondialatorDock.initBlock {
    display: block;
    width: 100%; }
  #mondialatorDock nav .userInfo {
    padding-bottom: 16px; }
    #mondialatorDock nav .userInfo .userData, #mondialatorDock nav .userInfo .profilePicture, #mondialatorDock nav .userInfo .followData {
      vertical-align: middle; }
    #mondialatorDock nav .userInfo .profilePicture {
      max-width: 100px;
      width: 20%; }
    #mondialatorDock nav .userInfo .userData {
      width: 50%;
      text-align: center; }
      #mondialatorDock nav .userInfo .userData ul li {
        display: inline-block; }
        #mondialatorDock nav .userInfo .userData ul li:last-child {
          margin-left: 6px; }
    #mondialatorDock nav .userInfo .followData {
      display: inline-block;
      width: 30%;
      margin-top: 0;
      vertical-align: top;
      padding-top: 8px;
      border: none; }
  #mondialatorDock nav .dayInfo {
    padding: 10px 6px 10px 6px;
    width: calc(100% - 12px); }
    #mondialatorDock nav .dayInfo h2 {
      font-size: 1em; }
  #renderTemplates.columnDisplay {
    width: 100%;
    margin-left: 0px;
    display: block; }
  #mondialatorSubLoader.columnDisplay {
    width: 100%;
    margin-left: 0;
    display: block; }
  #mondialatorFeed .dayInfo {
    padding: 30px 16px 16px 16px; }
  #mondialatorFeed .feedData article {
    width: calc(100% - 80px);
    max-width: 680px;
    margin: 24px auto 0; } }

@media (max-width: 606px) {
  #mondialatorDock nav .userInfo .followData {
    display: block;
    width: 100%;
    border-top: 2px solid #f3f3f3;
    margin-top: 6px; }
    #mondialatorDock nav .userInfo .followData .following p, #mondialatorDock nav .userInfo .followData .follow p {
      display: inline-block; }
  #mondialatorFeed .feedData article header .author {
    width: 100%;
    display: block; }
  #mondialatorFeed .feedData article header .date {
    width: calc(100% - 80px);
    margin-left: 80px;
    text-align: left;
    margin-top: 0px; } }

@media (max-width: 598px) {
  #mondialatorFeed .feedData article .commentContainer form .message {
    display: block;
    width: calc(100% - 10px);
    margin-bottom: 10px; }
  #mondialatorFeed .feedData article .commentContainer form .submitMessage {
    width: 100%;
    display: block;
    text-align: center; } }

@media (max-width: 500px) {
  #mondialatorNav nav .mainMenu li {
    font-size: 1.4em;
    vertical-align: bottom; }
    #mondialatorNav nav .mainMenu li a i {
      display: none; }
    #mondialatorNav nav .mainMenu li.littleLogout {
      font-size: 0.8em; }
  #mondialatorNav nav #mondialatorSearch {
    font-size: 0.8em; }
  #mondialatorFeed .dayInfo h2 {
    font-size: 1.4em;
    margin-bottom: 10px; }
  #mondialatorFeed .feedData article .subSocial .comments .comment .commentBody .commentUserPicture {
    width: 40px;
    vertical-align: middle; }
  #mondialatorFeed .feedData article .subSocial .comments .comment .commentBody .commentText {
    width: calc(84% - 4px - 40px);
    padding: 2px; } }

@media (max-width: 492px) {
  #mondialatorUser .userDataView .navDataView ul li a {
    font-size: 0.7em; }
  #mondialatorUser .userDataView .dataViewBrief .card, #mondialatorUser .userDataView .dataViewBrief .blason {
    margin-left: 0;
    margin-right: 0;
    width: calc(48% - 12px); }
    #mondialatorUser .userDataView .dataViewBrief .card.odd, #mondialatorUser .userDataView .dataViewBrief .blason.odd {
      margin-left: 4%; }
    #mondialatorUser .userDataView .dataViewBrief .card .pictureContainer, #mondialatorUser .userDataView .dataViewBrief .blason .pictureContainer {
      height: 90px;
      width: 90px; } }

@media (max-width: 440px) {
  #mondialatorDock nav .dayInfo.initBlock {
    display: none; }
  #mondialatorUser .userRecap .numbers ul li {
    width: 25%;
    font-size: 0.8em; }
  #mondialatorUser .userDataView {
    padding: 0px; } }

@media (max-width: 400px) {
  #mondialatorNav nav h1 {
    width: auto;
    padding: 8px 4px; }
  #mondialatorNav nav .userInfo .userData {
    width: calc(100% - 90px);
    text-align: left; }
    #mondialatorNav nav .userInfo .userData .name, #mondialatorNav nav .userInfo .userData ul {
      padding-left: 16px; }
  #mondialatorNav nav #mondialatorSearch .aroundSearch input {
    font-size: 0.8em; }
  #mondialatorNav nav #mondialatorSearch .aroundSearch .glass {
    font-size: 12px; }
  #mondialatorLeaderboard ul .winner .winnerContainer .picture img {
    max-width: 40px; }
  #mondialatorLeaderboard ul .winner .winnerContainer .userData h3 {
    font-size: 0.9em; }
  #mondialatorUser .userDataView .dataViewBrief .card, #mondialatorUser .userDataView .dataViewBrief .blason {
    margin-right: 0%;
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 30px auto;
    padding: 20px 12px; }
    #mondialatorUser .userDataView .dataViewBrief .card.odd, #mondialatorUser .userDataView .dataViewBrief .blason.odd {
      margin: 0 auto; }
    #mondialatorUser .userDataView .dataViewBrief .card .pictureContainer, #mondialatorUser .userDataView .dataViewBrief .blason .pictureContainer {
      height: 130px;
      width: 130px; }
    #mondialatorUser .userDataView .dataViewBrief .card p, #mondialatorUser .userDataView .dataViewBrief .blason p {
      font-size: 1.2em; }
  #mondialatorFeed .dayInfo {
    font-size: 1.2em;
    margin-bottom: 10px; }
  #mondialatorFeed .feedData article header .author .profileContainer {
    max-width: 40px; }
  #mondialatorFeed .feedData article header .author .userContainer {
    font-size: 0.9em; }
    #mondialatorFeed .feedData article header .author .userContainer p:first-child {
      margin-bottom: 2px; }
  #mondialatorFeed .feedData article .subSocial ul li button span {
    font-size: 0.9em; }
  #mondialatorFeed .feedData article .subSocial .comments .comment .commentBody {
    width: 100%;
    padding: 0; }
    #mondialatorFeed .feedData article .subSocial .comments .comment .commentBody .commentText {
      margin-left: 2%; }
      #mondialatorFeed .feedData article .subSocial .comments .comment .commentBody .commentText p {
        font-size: 0.9em; } }

@media (max-width: 370px) {
  #mondialatorNav nav h1 {
    font-size: 1.2em; }
  #mondialatorFeed .dayInfo {
    padding-top: 20px; }
    #mondialatorFeed .dayInfo h2 {
      font-size: 1em;
      margin-bottom: 10px; } }
