{% include 'MDMondialatorBundle:Admin:header.html.twig' %}

        {% include 'MDMondialatorBundle:Admin:sidebar.html.twig' %}

    <div class="col-md-8">
        <div class="page-header">
            <h2>Liste des types d'achievements</h2>
        </div>

        <div>
            <h3>Créer un type d'achievement</h3>
            <a class="btn btn-success" href="{{ path('mondialator_achievement_type_add') }}"><span class="glyphicon glyphicon-plus"></span> nouveau type d'achievement</a>
        </div>

        <div>
            <h3>Liste des types d'achievements</h3>
            <table class="table table-hover">
                <tr>
                    <th>id</th>
                    <th>Nom</th>
                    <th>Editer</th>
                    <th>Supprimer</th>
                </tr>
                {% for type in listAchievementType %}
                    <tr>
                        <td>{{type.id}}</td>
                        <td>{{type.name}}</td>
                        <td><a class="btn btn-primary" href="{{ path('mondialator_achievement_type_edit' , {'id' : type.id })  }}"><span class="glyphicon glyphicon-pencil"></span></a></td>
                        <td><a class="btn btn-danger" href="{{ path('mondialator_achievement_type_remove' , {'id' : type.id })  }}"><span class="glyphicon glyphicon-trash"></span></a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>


{% include 'MDMondialatorBundle:Admin:footer.html.twig' %}

