{% include 'MDMondialatorBundle:Admin:header.html.twig' %}

    {% include 'MDMondialatorBundle:Admin:sidebar.html.twig' %}

    <div class="col-md-8">
        <div class="page-header">
            <h2>Type d'achievement supprimé</h2>
        </div>
        <a class="btn btn-success" href="{{ path('mondialator_achievement_types' )}}">Retrours à la liste des types d'achievement</a>
    </div>


{% include 'MDMondialatorBundle:Admin:footer.html.twig' %}
