{% include 'MDMondialatorBundle:Admin:header.html.twig' %}
{% include 'MDMondialatorBundle:Admin:sidebar.html.twig' %}

<div class="col-md-8">
    <div class="page-header">
        <h2>Liste des domaines d'intérêts : </h2>
    </div>

    <div>
        <h3>Ajouter un intérêt</h3>
        <a class="btn btn-success" href="{{ path('mondialator_interest_add') }}"><span class="glyphicon glyphicon-plus"></span> nouvel intérêt</a>
    </div>
    <div>
        <h3>Liste des intérêts</h3>

        <table class="table table-hover">
            <tr>
                <th>id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Editer</th>
                <th>Supprimer</th>
            </tr>

            {% for interest in listInterest %}

                <tr>
                    <td>{{ interest.id }}</td>
                    <td>{{interest.name}}</td>
                    <td>{{interest.description}}</td>
                    <td><a class="btn btn-primary" href="{{ path('mondialator_interest_edit' , {'id' : interest.id}) }}"><span class="glyphicon glyphicon-pencil"></span></a></td>
                    <td><a class="btn btn-danger" href="{{ path('mondialator_interest_remove' , {'id' : interest.id })  }}"><span class="glyphicon glyphicon-trash"></span></a></td>
                </tr>

            {% endfor %}
        </table>
    </div>

</div>
{% include 'MDMondialatorBundle:Admin:footer.html.twig' %}


