{% include 'MDMondialatorBundle:Admin:header.html.twig' %}
{% include 'MDMondialatorBundle:Admin:sidebar.html.twig' %}

<div class="col-md-8">
    <div class="page-header">
        <h2>Intérêt supprimé</h2>
    </div>
    <a class="btn btn-success" href="{{ path('mondialator_interests' )}}">Retrours à la liste des Intérêts</a>
</div>
{% include 'MDMondialatorBundle:Admin:footer.html.twig' %}


