//variable generics
$boxWidth : 18px;
$boxHeight : 18px;
$borderRadius : 0px;
$borderBox : 1px solid #fff;
$transition : all 0.2s ease-in-out;


//variable radio
$bgRadioNotChecked: transparent;
$bgRadioChecked: #fff;

//variable checkbox
$bgNotChecked: transparent;
$bgChecked: #fff;
$verticalCenterAjust : -11px;
$spaceBetweenBoxAndLabel : 35px;


//Radio
input[type="radio"].customRadio{
    display:none;

    & + label span{
        border: $borderBox;
        width: $boxWidth;
        height: $boxHeight;
        
        display:inline-block;
        vertical-align:middle;
        cursor:pointer;

        margin:-1px 6px 0 0;
        
        background-color: $bgRadioNotChecked;

        transition: $transition;
    }

    &:checked + label span{
        background-color: $bgRadioChecked;
    }
}


//Checkbox
input[type="checkbox"].customCheckbox{
    
    width: 1px;
    height: 1px;
    margin: 0;
    padding: 0;
    opacity: 0;
    position: absolute;
    clip: rect(0 0 0 0);
    appearance: none;

    & + label{
       float: left;
       padding-left: $spaceBetweenBoxAndLabel;
       position: relative;
       cursor: pointer;
       text-align: left;
       
       &::before, &:before{
            border: $borderBox;
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            margin-top: $verticalCenterAjust;
            width: $boxWidth;
            height: $boxHeight;
            border-radius: $borderRadius;
            background-color: $bgNotChecked;
            transition: $transition;
       } 
    }

    &:checked{
        & + label:before, & + label::before{
            background-color: $bgChecked;
        }
    }
}


//Reset for number, submit
input[type='submit'], input[type='number']{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -moz-appearance: textfield;
    &::-webkit-inner-spin-button, &::-webkit-outer-spin-button{
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0;      
    }  
}