.container{
	max-width: 1200px;
	width: 100%;
	box-sizing:border-box;
	margin: 0 auto;
}

.group{
	&:after {
	  content: "";
	  display: table;
	  clear: both;
	}	
}

.hidden{
	opacity: 0;
	display: none;
}

.visible{
	opacity: 1 !important;
	display: block;
}

.visibleCell{
	opacity: 1 !important;
	display: table !important;
}

.visibleInline{
	opacity: 1;
	display: inline;
}

html, body{
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-size: 1em;
}


@mixin animate($properties, $speed, $easing, $delay){
	transition : $properties $speed $easing $delay;
}

.img-responsive{
	display: block;
	height: auto;
	max-width: 100%;
}

@mixin global-animation() {
  animation-fill-mode: both;
}

.clear {
	clear: both;
}

@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white,  50%)) {
  // For Google Chrome
  ::-webkit-scrollbar {
      width:  $size;
      height: $size;
  }

  ::-webkit-scrollbar-thumb {
      background: $foreground-color;
  }

  ::-webkit-scrollbar-track {
      background: $background-color;
  }

  // For Internet Explorer
  body {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}

.unselectable {
    user-select: none;
    user-drag: none;
}

.iframe-responsive{

	&.youtube{
		position: relative;
		padding-bottom: 56.25%; 
		padding-top: 35px; 
		height: 0; 
		overflow: hidden;
	}

	iframe{
		position : absolute;
		top: 0 ; 
		left: 0;
		width : 100%; 
		height : 100%
	}
}

.verticalCenter{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}