{% include 'MDMondialatorBundle:Admin:header.html.twig' %}
{% include 'MDMondialatorBundle:Admin:sidebar.html.twig' %}

<div class="col-md-8">
    <div class="page-header">
        <h2>Liste des sponsors : </h2>
    </div>

    <div>
        <h3>Ajouter un sponsor</h3>
        <a class="btn btn-success" href="{{ path('mondialator_sponsor_add') }}"><span class="glyphicon glyphicon-plus"></span> nouveau sponsor</a>
    </div>
    <div>
        <h3>Liste des sponsors</h3>

        <table class="table table-hover">
            <tr>
                <th>id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Editer</th>
                <th>Supprimer</th>
            </tr>

            {% for sponsor in listSponsor %}

                <tr>
                    <td>{{ sponsor.id }}</td>
                    <td>{{sponsor.name}}</td>
                    <td>{{sponsor.description}}</td>
                    <td><a class="btn btn-primary" href="{{ path('mondialator_sponsor_edit' , {'id' : sponsor.id}) }}"><span class="glyphicon glyphicon-pencil"></span></a></td>
                    <td><a class="btn btn-danger" href="{{ path('mondialator_sponsor_remove' , {'id' : sponsor.id })  }}"><span class="glyphicon glyphicon-trash"></span></a></td>
                </tr>

            {% endfor %}
        </table>
    </div>

</div>
{% include 'MDMondialatorBundle:Admin:footer.html.twig' %}


