{% include 'MDMondialatorBundle:Admin:header.html.twig' %}

    {% include 'MDMondialatorBundle:Admin:sidebar.html.twig' %}

    <div class="col-md-8">
        <div class="page-header">
            <h2 class="col-md-12">Challenge Supprimé</h2>
        </div>
    </div>

{% include 'MDMondialatorBundle:Admin:footer.html.twig' %}
