{% include 'MDMondialatorBundle:Admin:header.html.twig' %}


    {% include 'MDMondialatorBundle:Admin:sidebar.html.twig' %}
    <div class="col-md-8">
        <div class="page-header">
            <h2>Bienvenue</h2>
        </div>
    </div>


{% include 'MDMondialatorBundle:Admin:footer.html.twig' %}