<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta lang="fr">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Bienvenue aux Admin, loguez-vous{% endblock %}</title>

    {% block stylesheets %}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container">
        <a class="navbar-brand" href="{{ path('mondialator_admin') }}">Mondialator</a>
        <a class="navbar-right btn btn-default navbar-btn" href="{{ path('logout') }}">Logout</a>
    </div>
</nav>

<div class="container">
    <div class="row">
