

{% include 'MDMondialatorBundle:Admin:header.html.twig' %}

  {# S'il y a une erreur, on l'affiche dans un joli cadre #}
  {% if error %}
    <div class="alert alert-danger">{{ error.message }}</div>
  {% endif %}

  {# Le formulaire, avec URL de soumission vers la route « login_check » comme on l'a vu #}
  <section class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <form action="{{ path('login_check') }}" method="post">
          <div class="form-group">
            <label for="username">Login :</label>
            <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" />
          </div>

          <div class="form-group">
            <label for="password">Mot de passe :</label>
            <input class="form-control" type="password" id="password" name="_password" />
          </div>

          <div class="form-group">
            <input class="btn" type="submit" value="Connexion" />
          </div>
        </form>
      </div>
    </div>
  </section>



{% include 'MDMondialatorBundle:Admin:footer.html.twig' %}