<div class="col-md-4">
    <ul class="btn-group-vertical" role="group" aria-label="...">
        <li class="list-group-item">
            <div class="dropdown">
                <div class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Journées mondiales <span class="caret"></span>
                </div>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    {%
                    set months = ["Janvier", "Fevrier", "Mars", "Avril", "Mai", "Juin", "Juillet", "Aout", "Septembre", "Octobre", "Novembre", "Décembre"]
                    %}
                    {% for key, month in months %}
                        <li>
                            <a href="{{ path('mondialator_days_get' , {'month' : key + 1} ) }}">{{ month }}</a>
                        </li>
                    {% endfor%}
                </ul>
            </div>
        </li>
        <li class="list-group-item">
            <div class="dropdown">
                <div class="dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Achievements <span class="caret"></span>
                </div>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <li><a href="{{ path('mondialator_achievements')}}">Gérer les achievements</a></li>
                    <li><a href="{{ path('mondialator_achievement_types')}}">Gérer les types</a></li>
                </ul>
            </div>
        </li>
        <li class="list-group-item">
            <a href="{{ path('mondialator_interests')}}">Interests</a>
        </li>
        <li class="list-group-item">
            <a href="{{ path('mondialator_sponsors')}}">Sponsors</a>
        </li>
        <li class="list-group-item">
            <a href="{{ path('mondialator_social_types')}}">Social Types</a>
        </li>
        <li class="list-group-item"><a href="{{ path('mondialator_countries')}}">Pays</a></li>
    </ul>
</div>