@import "ressources/variables";
@import "ressources/utils";
@import "ressources/font";

body{
	background : #fff;
	color : #000;
	font-family: $roboto;
	background-color: $mondialatorBlue;
	
	.scrollHeight{
		height: 100%;			
	}

	&.initBlock{
		background-color : $mondialatorGrey;
	}
}

#renderTemplates{
	width: 100%;
	height: 100%;
	display: block;
	vertical-align: top;
	position: relative;
	
	&.columnDisplay{
		width: 60%;
		margin-left: 2%;
		display: inline-block;
		height: auto;
	}
	section{
		.sectionHeader{
			border-radius: 8px 8px 0 0;
			background-color: #0097A7;
			color: #fff;
			padding: 30px 16px 40px 16px;

			h2{
				font-size: 1.7em;
			}
		}
	}
}

.mondialatorBtn{
	background: #90A4AE;
    color: #fff;
    display: block;
    border: none;
    padding: 10px 40px;
    border-radius: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
	margin: 15px auto;
	cursor: pointer;
	outline: none;
	transition: all 0.2s ease-in-out;
    &:hover, &:active{
    	background: #607D8B;
    }
}

@import "view/loader";
@import "view/menu";
@import "view/dock";
@import "view/publish";
@import "view/leaderboard";
@import "view/feed";
@import "view/user";
@import "view/login";
@import "view/responsive";

