{% include 'MDMondialatorBundle:Admin:header.html.twig' %}

        {% include 'MDMondialatorBundle:Admin:sidebar.html.twig' %}

        <div class="col-md-8">
            <div class="page-header">
                <h1>Liste des pays</h1>
            </div>
            <table class="table table-hover">
                <tr><th>Name</th><th>Nicename</th><th>ISO</th><th>ISO3</th><th>Numcode</th><th>Phonecode</th></tr>
                {% for country in listCountry %}
                    <tr>
                        <td>{{country.name}}</td>
                        <td>{{country.nicename}}</td>
                        <td>{{country.iso}}</td>
                        <td>{{country.iso3}}</td>
                        <td>{{country.numcode}}</td>
                        <td>{{country.phonecode}}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>


{% include 'MDMondialatorBundle:Admin:footer.html.twig' %}
