<section id="mondialatorFeed">
	<div class="dayInfo">
		<h2>
			<span ng-if="day.name != undefined">Aujourd'hui, c'est&nbsp;:<br>La {{day.name}}</span>
			<span ng-if="day.name == undefined">
				<span ng-if="showFlag == true">World</span> Feed
			</span>
		</h2>

		<div class="challenge" ng-repeat="challenge in day.challenge">
			<h3 class="challengeName"><div>Défi : {{challenge.name}}</div></h3>
			<p class="challengeDesc">{{challenge.description}}</p>
			<div class="btnContainer">
				<a class="mondialatorBtn" href="#/publish/{{challenge.id}}" >Dare&nbsp;!</a>
			</div>
		</div>

	</div>
	
	<div class="feedData" ng-init='feed != null'>
		<article ng-repeat="article in feed track by $index" ng-model="feed[$index]" ng-init="outerIndex = $index">
			<header class="authorData">
				<div class="author">
						<div class="pictureContainer">
							<img ng-src="{{article.user.picture.url}}" alt="{{article.user.picture.url}}" class="img-responsive">
						</div>
					<div class="userContainer">
						<p>
							<a href="#/user/{{article.user.id}}">
								<span ng-if="showFlag == true" class="flag-icon flag-icon-squared flag-icon-{{lower(article.user.country.iso)}}"></span>
								{{article.user.firstname}} {{article.user.lastname}}
							</a>
						</p>
						<p class="challenge">{{article.challenge.name}}</p>
					</div>
				</div><!--
				--><p class="date">Le {{niceDate(article.created.date)}}</p>
			</header>
			<div ng-show="{{checkImage(article.media.type.name)}}">
				<div class="subData">
					<div class="aroundMedia" ng-style="{'background-image': 'url({{article.media.url}})'}">
						<img class='img-responsive' ng-src="{{article.media.url}}" alt="{{article.media.alt}}">
					</div>
				</div>	
			</div>
			<div ng-show="{{checkVideo(article.media.type.name)}}">
				<div class="subData">
					<div class="aroundMedia" ng-style="{'background-image': 'url({{article.media.url}})'}">
						<video class='img-responsive' alt="{{article.media.alt}}" autoplay loop controls muted>
							<source ng-src="{{article.media.url}}" type="video/mp4">
						</video>
					</div>
				</div>	
			</div>			
			<div class="subSocial">
				<ul>
					<li>
						<button ng-click="switchForm($index)">
							<span>Comment</span>
						</button>
					</li><!--
					--><li ng-if="article.comments.length > 0">
						<button ng-click="switchComments($index)">
							<span ng-if='article.showForm != true'>Show&nbsp;{{article.commentsLength}}</span>
							<span ng-if='article.showForm == true'>Hide&nbsp;{{article.commentsLength}}</span>
							<i class="fa fa-comment"></i>
						</button>
					</li><!--
					--><li ng-if='article.userLiked!=true'>
						<button ng-click="addLike(article.id, $index)" ng-disabled="article.addLikeDead == true">
							<span>{{article.thumbsLength}}</span>
							<i ng-if='article.addLikeLoad != true'class="fa fa-heart"></i>
							<i ng-if='article.addLikeLoad == true' class="fa fa-circle-o-notch fa-spin"></i>
						</button>
					</li><!--
					--><li ng-if='article.userLiked==true'>
						<button ng-click="removeLike(article.id, $index)" ng-disabled='article.removeLikedead == true'>
							<span>{{article.thumbsLength}}</span>
							<span class="fa-stack" ng-if='article.removeLikeLoad != true'>
								<i class="fa fa-heart fa-stack-1x"></i>
								<i class="fa fa-ban fa-stack-2x"></i>
							</span>	
							<i ng-if='article.removeLikeLoad == true' class="fa fa-circle-o-notch fa-spin"></i>
						</button>
					</li>
				</ul>

				<div class="comments" ng-if="article.showComments == true">
					<div class="comment" ng-repeat="comment in article.comments track by $index">
						<div class="commentBody">
							<div class="commentUserPicture">
								<img class="img-responsive" ng-src="{{comment.user.picture.url}}" alt="{{comment.user.firstname}} {{comment.user.lastname}}">
							</div><!--
							--><div class="commentText">
								<p class="userName">{{comment.user.firstname}} {{comment.user.lastname}}</p>
								<p>{{comment.text}}</p>
							</div><!--
							--><div class="deleteComment" ng-if="isUser(comment.user.id)">
								<button ng-click='deleteComment(comment.id, article.id, outerIndex)'>X</button>
							</div>
						</div>
					</div>
				</div>

			</div>

			<div class="commentContainer" ng-if="article.showForm == true">
				<form ng-submit="addComment(article.id, $index)">
					<input class="message" type="text" name="message" ng-model="feed[$index].text" ng-disabled='article.postingComment == true'><!--
					--><div class="submitMessage">
						<input ng-if='article.postingComment != true' type="submit" value="Submit" ng-disabled='article.postingComment == true'>
						<i ng-if='article.postingComment == true' class="fa fa-circle-o-notch fa-spin"></i>
					</div>
				</form>
			</div>

		</article>
	</div>

	<footer class="loadingFooter">
		<button ng-click="reload()">
			<span ng-if="loading == false">See more</span>
			<span ng-if="loading == true"><i class="fa fa-circle-o-notch fa-spin"></i></span>
		</button>
	</footer>
</section>