<section id="mondialatorLeaderboard">
	
	<header class="sectionHeader">
		<h2>Leaderboard</h2>
	</header>
	
	<div class="leaderboardContainer">
		<ul>
			<li class="winner" ng-repeat=" user in leaderboard track by $index">
				<div class="winnerContainer">
					<div class="rank">{{$index  + 1}}.</div><!--
					--><div class="country">
						<span class="flag-icon flag-icon-squared flag-icon-{{lower(user.country.iso)}}"></span>
					</div><!--
					--><div class="picture">
						<div class="pictureContainer">
							<img class="img-responsive" ng-src="{{user.picture.url}}" alt="{{user.firstname}} {{user.lastname}}">
						</div>
					</div><!--
					--><div class="userData">
						<h3><a href="#/user/{{user.id}}">{{user.firstname}} {{user.lastname}}</a></h3>
						<p><i class="fa fa-ticket"></i>&nbsp;{{user.score}}</p>
					</div>
				</div>
			</li>	
		</ul>
	</div>

	<nav class="leaderboardNav">
		<button ng-click="next()" ng-disabled="loading == true">
			<span ng-if="loading == false">Continue</span>
			<span ng-if="loading == true"><i class="fa fa-circle-o-notch fa-spin"></i></span>
		</button>
	</nav>
</section>