<section id="mondialatorLogin">
	<div class="container">
		<div class="login">
			<div class="vcenter">
				<h2 class="logo">CalenDare</h2>
				<div class="loginContainer">
					<h3>Hello&nbsp;!</h3>
					<p>Today, let's do some good !</p>
					<button class="providerLogin facebook" ng-click="authenticate('facebook')" ng-disabled="btnDisable">
						<span ng-if="loading == true"><i class="fa fa-circle-o-notch fa-spin"></i></span>
						<span ng-if="loading == false"><i class="fa fa-facebook-official"></i></span>&nbsp;Sign in with Facebook
					</button>
				</div>
			</div>
		</div>
	</div>
</section>