<section id="mondialatorPublish">
	<header class="sectionHeader">
		<h2>Publier votre participation</h2>
	</header>
	<div class="dropContainer" >
		<div class="canPublish" ng-if="canPublish == true">

			<form action="/file-upload" class="dropzone" ng-disabled="send == true" ng-class="{'submissionSend' : send == true}">
				<div class="fallback">
					<input name="file" type="file">
				</div>
			</form>
			<div class="sendContainer">
				<button ng-disabled="added == false" id="submitUpload">
					<span ng-if="send != true">Publish</span>
					<span ng-if="send == true">Done !</span>
				</button>
			</div>
			
		</div>
		<div class="message" ng-if="canPublish == false">
			<p>Vous avez déjà publié pour ce défi&nbsp;!</p>
		</div>
	</div>	
</section>


