<section id="mondialatorUser">
	
	<div class="userRecap">

		<div class="profilePicture">
		    <div class="aroundPicture">
		        <img class="img-responsive" ng-src="{{user.picture.url}}" alt="{{user.picture.alt}}">
		    </div>    
		</div>
		<h2>
			<span class="flag-icon flag-icon-squared flag-icon-{{user.country.isoLower}}"></span>
			{{user.firstname}} {{user.lastname}}
		</h2>
		<div class="numbers">
			<ul>
				<li>
					<h3 class="titleBlock">Score</h3>
					<p>{{user.score}}</p>
				</li><!--
				--><li>
					<h3 class="titleBlock">Subs</h3>
					<p>{{user.submissionLength}}</p>
				</li><!--
				--><li>
					<h3 class="titleBlock">Follows</h3>
					<p>{{user.followingLength}}</p>
				</li><!--
				--><li>
					<h3 class="titleBlock">Followers</h3>
					<p>{{user.followLength}}</p>
				</li>
			</ul>
		</div>
	</div>
	<div class="followBlock" ng-if="showFollowBlock">
		<button ng-if="showFollow" ng-click="follow(user.id)" ng-disabled="btnDisable">Follow</button>
		<button ng-if="showUnFollow" ng-click="unfollow(user.id)" ng-disabled="btnDisable">Unfollow</button>
	</div>
	<div class="userDataView">
		<div class="navDataView">
			<ul>
				<li>
					<a href="javascript:void(0)" ng-class="{'active' : toShow == 'subs'}" ng-click="showPanel('subs')">Submissions</a>
				</li><!--
				--><li>
					<a href="javascript:void(0)" ng-class="{'active' : toShow == 'ach'}" ng-click="showPanel('ach')">Achievements</a>
				</li><!--
				--><li>
					<a href="javascript:void(0)" ng-class="{'active' : toShow == 'follow'}" ng-click="showPanel('follow')">Follows</a>
				</li><!--
				--><li>
					<a href="javascript:void(0)" ng-class="{'active' : toShow == 'follower'}" ng-click="showPanel('follower')">Followers</a>
				</li>
			</ul>
		</div><!--
		--><div class="dataViewBrief">
			<!-- Submissions -->
			<div ng-if="toShow =='subs'">
				<p ng-if="user.submissionLength == 0">{{user.firstname}} has no submission yet&nbsp;!</p>
				<div class="blason card" ng-class-odd="'odd'" ng-repeat="sub in user.submission | limitTo:limit">
					<div class="pictureContainer" ng-style="{'background-image': 'url({{sub.media.url}})'}">
						<img ng-src="{{sub.media.url}}" alt="{{sub.media.alt}}" class="img-responsive">
					</div>
					<p>{{sub.challenge.name}}</p>
				</div><!--
				-->	
			</div>
			<!-- Achievements -->
			<div ng-if="toShow =='ach'">
				<p ng-if="user.achievementsLength == 0">{{user.firstname}} has no achievement yet&nbsp;!</p>
				<div class="allAchievement">
					<div class="blason card" ng-class-odd="'odd'" ng-repeat="blason in user.achievements | limitTo:limit">
						<div class="pictureContainer" ng-style="{'background-image': 'url({{blason.picture.url}})'}">
							<img ng-src="images/badge.png" alt="badge" class="img-responsive">
						</div>
						<p>{{blason.name}}</p>
					</div><!--
					--><!--<a ng-if="user.achievementsLength > 5" href="javascript:void(0)" class="card seeAll">
						<div class="pictureContainer">
							<div class="rounded">
								<div class="centerPlus">
									<i class="fa fa-plus"></i>
								</div>
							</div>
						</div>
						<p>See All</p>
					</a>-->
				</div>
			</div>
			<!-- Followers -->
			<div ng-if="toShow =='follower'">
				<p ng-if="user.followLength == 0">{{user.firstname}} follow no people yet&nbsp;!</p>
				
				<div class="allFollower">
					<a href="#/user/{{follow.id}}" class="follow card"  ng-class-odd="'odd'" ng-repeat="follow in user.followAll | limitTo:limit">
						<div class="pictureContainer" ng-style="{'background-image': 'url({{follow.picture.url}})'}">
							<img ng-src="{{follow.picture.url}}" alt="{{follow.picture.alt}}" class="img-responsive">
						</div>
						<p>
							{{follow.firstname}} {{follow.lastname}}
						</p>
					</a><!--
					--><!--<a ng-if="user.followLength > 5" href="javascript:void(0)" class="card seeAll">
						<div class="pictureContainer">
							<div class="rounded">
								<div class="centerPlus">
									<i class="fa fa-plus"></i>
								</div>
							</div>
						</div>
						<p>See All</p>
					</a>-->	
				</div>
			</div>
			<!-- Following -->
			<div ng-if="toShow =='follow'">
				<p ng-if="user.followingLength == 0">{{user.firstname}} follows no people yet&nbsp;!</p>
				
				<div class="allFollower">
					<a  href="#/user/{{follow.id}}" class="follow card"  ng-class-odd="'odd'" ng-repeat="follow in user.followingAll | limitTo:limit">
						<div class="pictureContainer" ng-style="{'background-image': 'url({{follow.picture.url}})'}">
							<img ng-src="{{follow.picture.url}}" alt="{{follow.picture.alt}}" class="img-responsive">
						</div>
						<p>
							{{follow.firstname}} {{follow.lastname}}
						</p>
					</a><!--
					--><!--<a ng-if="user.followingLength > 5" href="javascript:void(0)" class="card seeAll">
						<div class="pictureContainer">
							<div class="rounded">
								<div class="centerPlus">
									<i class="fa fa-plus"></i>
								</div>
							</div>
						</div>
						<p>See All</p>
					</a>-->
				</div>	
			</div>	
		</div>
	</div>
</section>