{% include 'MDMondialatorBundle:Admin:header.html.twig' %}

{% include 'MDMondialatorBundle:Admin:sidebar.html.twig' %}

<div class="col-md-8">
    <div class="page-header">
        <h2>Editer une journée mondiale</h2>
    </div>
    <div>
        {{form(form)}}
    </div>
</div>

{% include 'MDMondialatorBundle:Admin:footer.html.twig' %}
