{% include 'MDMondialatorBundle:Admin:header.html.twig' %}
{% include 'MDMondialatorBundle:Admin:sidebar.html.twig' %}

<div class="col-md-8">
    <div class="page-header">
        <h2>Journée mondiales du mois {{ month }}</h2>
    </div>
    <div>
        <nav>
            <ul class="pager">
                {% if month!=1 %}
                    <li><a href="{{ path('mondialator_days_get' , {'month' : month-1 })  }}">Mois précedent </a></li>
                {% else %}
                    <li><a href="{{ path('mondialator_days_get' , {'month' : 12 })  }}">Mois précedent </a></li>
                {% endif %}

                {% if month!=12 %}
                    <li><a href="{{ path('mondialator_days_get' , {'month' : month+1 })  }}">Mois suivant </a></li>
                {% else %}
                    <li><a href="{{ path('mondialator_days_get' , {'month' : 1 })  }}">Mois suivant </a></li>
                {% endif %}
            </ul>
        </nav>
    </div>

    <div>
        <h3>Créer une journée</h3>
        <a class="btn btn-success" href="{{ path('mondialator_day_add') }}"><span class="glyphicon glyphicon-plus"></span> nouvelle journée</a>
    </div>
    <div>
        <h3>Liste des jours</h3>

        <table class="table table-hover">
            <tr>
                <th>id</th>
                <th>Date</th>
                <th>Nom</th>
                <th>Editer</th>
                <th>Supprimer</th>
            </tr>

            {% for day in days %}
                {% if day.date|date('m') == month %}
                    <tr>
                        <td>{{ day.id }}</td>
                        <td>{{ day.date|date('Y-m-d') }}</td>
                        <td><a href="{{ path('mondialator_day_show' , {'id' : day.id}) }}">{{ day.name }}</a></td>
                        <td><a class="btn btn-primary" href="{{ path('mondialator_day_edit' , {'id' : day.id}) }}"><span class="glyphicon glyphicon-pencil"></span></a></td>
                        <td><a class="btn btn-danger" href="{{ path('mondialator_day_remove' , {'id' : day.id}) }}"><span class="glyphicon glyphicon-trash"></span></a></td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>

</div>
{% include 'MDMondialatorBundle:Admin:footer.html.twig' %}