{% include 'MDMondialatorBundle:Admin:header.html.twig' %}
{% include 'MDMondialatorBundle:Admin:sidebar.html.twig' %}

<div class="col-md-8">
    <div class="page-header">
        <h2>Journée supprimée</h2>
    </div>
    <a class="btn btn-success" href="{{ path('mondialator_admin' )}}">Retrours à l'accueil</a>
</div>
{% include 'MDMondialatorBundle:Admin:footer.html.twig' %}


