{% include 'MDMondialatorBundle:Admin:header.html.twig' %}
{% include 'MDMondialatorBundle:Admin:sidebar.html.twig' %}

    <div class="col-md-8">
        <div class="page-header">
            <h2>
                {{day.name}}
            </h2>
        </div>

        <div>
            <h3>Informations</h3>
            <p>
                <quote>{{ day.description }}</quote>
            </p>
            <div>
                <a href="{{ path('mondialator_day_edit' ,  {'id' : day.id}) }}" class="btn btn-primary">
                    <span class="glyphicon glyphicon-pencil"></span> Editer la journée
                </a>
            </div>
        </div>

        <div>
            <h3>Challenge</h3>

            <div>
                {% set challengeCree = false %}
                <div>
                {% for challenge in listChallenge %}
                    {% if challenge.day == day %}
                        {% set challengeCree = true %}
                        <a href="{{ path('mondialator_challenge_edit' , {'id' : challenge.id} ) }}" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span> {{challenge.name}}</a>
                        <a href="{{ path('mondialator_challenge_delete' , {'id' : challenge.id} ) }}" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> {{challenge.name}}</a>
                    {% endif %}
                {% endfor %}
                </div>

                {% if challengeCree == false %}
                    <div class="alert alert-warning" role="alert">Pas de Challenge lié</div>
                    <a href="{{ path('mondialator_challenge_add' , {'dayId' : day.id} ) }}" class="btn btn-primary">Ajouter un Challenge</a>
                {% endif %}
            </div>
        </div>


    </div>



{% include 'MDMondialatorBundle:Admin:footer.html.twig' %}


