<!DOCTYPE html>
<html lang="fr">
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1">
    </head>

    {% verbatim %}

    <body ng-app='mondialatorApp'>
        <div>
        	Hello and welcome to mondialator !
            
            <div ng-init="loaded==true">
            	<div>
            		{{user.firstname}} {{user.name}}
            	</div>
            	<a href="#/dashboard">dashboard</a>
            </div>	
            <div id="renderTemplates" ng-view></div>
        </div>
        
    </body>

	{% endverbatim %}

    <script src="js/angular.min.js"></script>
    <script src="js/angular-resource.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    
    <script src="js/app.js"></script>    
    <script src="js/models/User.js"></script>    
    <script src="js/controllers/dashboardController.js"></script>    
</html>