<!DOCTYPE html>
<html lang="fr">
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1">
        <link rel="stylesheet" type="text/css" href="styles/css/basic.min.css">
        <link rel="stylesheet" type="text/css" href="styles/css/min/main.min.css">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="styles/flags/css/flag-icon.min.css">
        <link rel="stylesheet" type="text/css" href="styles/css/dropzone.min.css">
    </head>

    {% verbatim %}
    <body ng-app='mondialatorApp' ng-class="{initBlock: user != null}">
        <header id="mondialatorNav" ng-class="{initBlock: user != null}">
            <nav>
                <h1><a href="#/feed"><span class="big">CalenDare</span><span class="little">CD</span></a></h1><!--
                --><div id="mondialatorSearch" ng-controller="searchCtrl">
                    <div class="aroundSearch">
                        <div class="glass">
                            <i class="fa fa-search" ng-if="!searching"></i>
                            <i class="fa fa-circle-o-notch fa-spin" ng-if="searching"></i>
                        </div><!--
                        --><input type="search" placeholder="Search" ng-model="inputSearch">
                    </div>
                    <!-- Search output here -->
                    <div class="searchMenu" ng-if="showResult">
                        <div class="aroundList">
                            <p class="sectionName">Results</p>
                            <ul class="searchList">
                                <li ng-if="searchResult.users != null">
                                    <ul>
                                        <li ng-repeat="user in searchResult.users">
                                            <a href="#/user/{{user.id}}" ng-click="clearSearch()">
                                                <div class="profilePicture">
                                                    <img ng-src="{{user.picture.url}}" alt="{{user.picture.alt}}" class="img-responsive">
                                                </div><!--
                                                --><p class="profileName">
                                                    {{user.firstname}} {{user.lastname}}
                                                </p>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li ng-if="searchResult.days != null">
                                    <ul>
                                        <li ng-repeat="day in searchResult.days">
                                            <a href="#/day/{{day.id}}">
                                                <div class="profilePicture">
                                                    <img ng-src="{{day.picture.url}}" alt="{{day.picture.alt}}" class="img-responsive">
                                                </div><!--
                                                --><p class="profileName">
                                                    {{day.name}}
                                                </p>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li ng-if="searchResult.sponsors != null">
                                    <ul>
                                        <li ng-repeat="sponsor in searchResult.sponsors">
                                            <a href="#/sponsor/{{sponsor.id}}">
                                                <div class="profilePicture">
                                                    <img ng-src="{{sponsor.picture.url}}" alt="{{sponsor.picture.alt}}" class="img-responsive">
                                                </div><!--
                                                --><p class="profileName">
                                                    {{sponsor.name}}
                                                </p>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="closer" ng-click="clearSearch()"><i class="fa fa-minus"></i></div>
                        </div>
                    </div>
                    
                </div><!--
                --><ul class="mainMenu"><!--
                    --><li>
                        <a href="#/world">
                            <i class="fa fa-map"></i>
                            <span>World</span>
                        </a>
                    </li><!--
                    --><li>
                        <a href="#/leaderboard">
                            <i class="fa fa-random"></i>
                            <span>Leaderboard</span>
                        </a>
                    </li><!--
                    --><!--<li>
                        <a href="#/days">
                            <i class="fa fa-calendar-o"></i>
                            <span>Days</span>
                        </a>
                    </li>--><!--
                    --><li class="user" ng-click="showMe()" ng-class="{'collapsed' : openMenu}">
                        <div class="profilePicture">
                            <div><img class="img-responsive" ng-src="{{user.picture.url}}"></div>
                        </div><!--
                        --><span>{{user.firstname}}&nbsp;<i class="fa fa-caret-down"></i></span>
                        <div class="optionsContainer">
                            <ul>
                                <li>
                                    <a href="#/user/{{user.id}}">Profile</a>
                                </li>
                                <!--<li>
                                    <a href="#/settings">Settings</a>
                                </li>-->
                                <li>
                                    <a href="#/logout"><i class="fa fa-caret-right"></i>&nbsp;Logout</a>
                                </li>
                            </ul>
                        </div>
                    </li><!--
                    --><li class="littleLogout">
                        <a href="#/logout"><i class="fa fa-caret-right"></i>&nbsp;Logout</a>
                    </li><!--
                --></ul>
            </nav>
        </header>

        <div class="container mondialatorContainer" ng-class="{scrollHeight: user == null}">
            <section id="mondialatorDock" ng-class="{initBlock: user != null}">
                <nav>
                    <div class="userInfo">
                        <div class="profilePicture">
                            <div class="aroundPicture">
                                <img class="img-responsive" ng-src="{{user.picture.url}}" alt="{{user.picture.alt}}">
                            </div>    
                        </div><!--
                        --><div class="userData">
                            <a href="#/user/{{user.id}}" class="name">
                                <span class="flag-icon flag-icon-squared flag-icon-{{user.country.isoLower}}"></span>
                                {{user.firstname}} {{user.lastname}}
                            </a>
                            <ul>
                                <li><i class="fa fa-ticket"></i>&nbsp;{{user.score}}</li>
                                <li><a href="#/user/{{user.id}}"><i class="fa fa-shield"></i>&nbsp;{{user.achievements.name}}</a></li>
                            </ul>
                        </div>
                        <div class="followData">
                            <a href="#/user/{{user.id}}" class="following">
                                <p>Follows</p>
                                <p>{{user.followingLength}}</p>
                            </a><!--
                            --><a href="#/user/{{user.id}}" class="follow">
                                <p>Followers</p>
                                <p>{{user.followLength}}</p>
                            </a>
                        </div>
                    </div>
                    <div class="dayInfo" ng-class="{initBlock: day != null}">
                        <h2 class="dayName">{{day.name}}</h2>
                        <p class="dayDesc"><i class="fa fa-calendar-o"></i>&nbsp;{{day.description}}</p>    
                    </div> 
                </nav>  
            </section><!--
            --><div id="mondialatorSubLoader" ng-if="loadingContextView" ng-class="{'initBlock': user != null, 'columnDisplay': user != null}" ng-style='{"height" : getFromTop().height, "margin-top" : getFromTop().marginTop}'>
                <div class="subLoadingContent">
                    <i class="fa fa-circle-o-notch fa-spin"></i>
                </div>
            </div><!--
            --><div id="renderTemplates" ng-if="!loadingContextView" ng-class="{columnDisplay: user != null}" ng-view>
            </div>
            
        </div>
        
        <div id="mondialatorMainLoader" ng-show="loadingView">
            <div class="subLoadingContent">
                <span><i class="fa fa-circle-o-notch fa-spin"></i>&nbsp;CalenDare</span>
            </div>
        </div>

    </body>
	{% endverbatim %}

    <script src="js/libs.min.js"></script>
    <script src="js/scripts.min.js"></script>
</html>