{% include 'MDMondialatorBundle:Admin:header.html.twig' %}

    {% include 'MDMondialatorBundle:Admin:sidebar.html.twig' %}

    <div class="col-md-8">
        <div class="page-header">
            <h2>Créer un nouvel achievement: </h2>
        </div>
        {{form(form)}}
    </div>


{% include 'MDMondialatorBundle:Admin:footer.html.twig' %}

