{% include 'MDMondialatorBundle:Admin:header.html.twig' %}

{% include 'MDMondialatorBundle:Admin:sidebar.html.twig' %}

<div class="col-md-8">
    <div class="page-header">
        <h2>Achievements</h2>
    </div>

    <div>
        <h3>Créer un achievement</h3>
        <a class="btn btn-success" href="{{ path('mondialator_achievement_add') }}"><span class="glyphicon glyphicon-plus"></span> nouvel achievement </a>
    </div>

    <div>
        <h3>Liste des achievements</h3>
        
        <table class="table table-hover">
            <tr>
                <th>id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Type</th>
                <th>Rank</th>
                <th>Editer</th>
                <th>Supprimer</th>
            </tr>

            {% for achievement in listAchievement %}
            <tr>
                <td>{{achievement.id}}</td>
                <td>{{achievement.name}}</td>
                <td>{{achievement.description}}</td>
                <td>{{achievement.type.getName()}}</td>
                <td>{{achievement.rank}}</td>
                <td><a class="btn btn-primary" href="{{ path('mondialator_achievement_edit' , {'id' : achievement.id })  }}"><span class="glyphicon glyphicon-pencil"></span></a></td>
                <td><a class="btn btn-danger" href="{{ path('mondialator_achievement_delete' , {'id' : achievement.id })  }}"><span class="glyphicon glyphicon-trash"></span></a></td>
            </tr>
            {% endfor %}
        </table>
    </div>

</div>


{% include 'MDMondialatorBundle:Admin:footer.html.twig' %}