#mondialatorDock{
	width: 38%;
	display: none;
	vertical-align: top;
	
	&.initBlock{
		display: inline-block;
	}

	nav{
		margin-top: 32px;
		background: #fff;
		border-radius: 6px 6px 0 0;
		box-shadow: 3px 2px 20px 0px #DCDCDC;

		.userInfo{
			width: calc(100% - 16px);
			padding: 26px 8px 0 8px;
			margin-top: 14px;
			//box-shadow: 3px 2px 20px 0px #DCDCDC;

			.profilePicture, .userData{
				display: inline-block;
				vertical-align: top;
			}
			.profilePicture{
				width: 30%;
				vertical-align: middle;
				
				.aroundPicture{
					max-width: 75px;
					margin: 0 auto;

					img{
						border-radius: 50%;
						border: 4px solid $mondialatorBlue;
					}
				}
			}
			.userData{
				width: calc(70% - 10px);
				margin-left: 10px; 
				vertical-align: middle;

				.name{
					font-size: 1.4em;
					color: inherit;
					text-decoration: none;

					.flag-icon{
						font-size: 0.85em;
						border-radius: 50%;
					}
				}

				ul{
					margin-top: 8px;
					font-size: 1.2em;

					li{
						margin-bottom: 4px;

						a{
							text-decoration: none;
							color: inherit;	
						}

						i{
							color: $mondialatorBlue;
						}	
					}
				}
			}

			.followData{
				padding: 20px 0 15px 0;
				margin-top: 20px;
				border-top: 2px solid $mondialatorGrey;

				.following, .follow{
					display: inline-block;
					vertical-align: top;
					width: 50%;
					text-align: center;
					text-decoration: none;
					color: inherit;

					p{
						text-transform: uppercase;
						margin-bottom: 8px;
					}
				}
			}
		}

		.dayInfo{
			display: none;
			width: calc(100% - 28px);
			padding: 26px 8px 30px 20px;
			background-color: $mondialatorBlue;
			color: #fff;

			.dayName{
				font-size: 1.3em;
				text-transform: uppercase;
				color: inherit;
				margin-bottom: 6px;
				text-decoration: none;
			}

			.dayDesc{
				font-size: 0.9em;
			}

			&.initBlock{
				display: block;
			}
		}
	}
}