#mondialatorFeed{
	margin-top: 32px;
	background: #fff;
	//padding-top: 26px;
	border-radius: 6px 6px 0 0;
	box-shadow: 3px 2px 20px 0px #DCDCDC;

	.dayInfo{
		border-radius: 8px 8px 0 0;
	    background-color: #0097A7;
	    color: #fff;
	    padding: 30px 16px 40px 16px;

	    h2{
	    	font-size: 1.8em;
	    	font-weight: 700;
	    	margin-bottom: 30px;
	    	line-height: 1.2em;
	    }

	    .challenge{
			h3{
				font-size: 1.4em;
				font-weight: 700;

				div{
					display: inline-block;
					border-bottom: 3px solid #fff;
					padding-bottom: 10px;
					padding-right: 10px;
					margin-bottom: 12px;
				}
			}

			.challengeDesc{
				font-size: 0.9em;
				line-height: 1.3em;
			}

	    	.btnContainer{
	    		text-align: right;
	    		padding-right: 36px;

	    		a{
	    			display: inline-block;
	    			font-size: 1.1em;
	    			text-decoration: none;
	    		}
	    	}
	    	
	    }
	}

	.feedData{
		article{
			padding: 0 40px;
			margin-top: 24px;

			header{
				padding: 10px 0;
				.author{
					display: inline-block;
					width: 80%;

					.pictureContainer, .userContainer{
						display: inline-block;
						vertical-align: middle;
					}

					.pictureContainer{
						max-width: 70px;
						img{
							border-radius: 50%;
						}
					}

					.userContainer{
						font-size: 1.2em;
						margin-left: 12px;
						vertical-align: top;
						margin-top: 8px;

						p{
							&:first-child{
								margin-bottom: 6px;
								color: $mondialatorDarkBlue;
							}

							&.challenge{
								text-transform: uppercase;
								font-size: 0.8em;
							}

							a{
								color: inherit;
								text-decoration: none;
							}
						}
					}
				}

				.date{
					display: inline-block;
					width: 20%;
					font-size: 0.85em;
					vertical-align: top;
					text-align: right;
					margin-top: 8px;
					color: #828282;
				}	
			}

			.subData{
				.aroundMedia{
					min-height: 300px;
				    background: url('../../images/default_picture.jpg') no-repeat center center transparent;
				    background-size: contain;

					img{
						margin: 0 auto;
						display: none;
					}
				}
			}

			.subSocial{
				padding: 20px 0;
				border-bottom: 3px solid #dedede;

				ul{
					text-align: right;
					li{
						display: inline-block;
						vertical-align: middle;
						color: $mondialatorDarkBlue;
						color: $mondialatorBlue;
						margin-left: 5px;

						button{
							@extend .mondialatorBtn;
							cursor: pointer;
							color: inherit;
							font-size: 1.4em;
							border: none;
							outline: none;
							font-size: 0.8em;
							padding: 2px 8px;
							color: #fff;

							span{
								font-weight: 200;
							}

							.fa-stack{
								font-size: 0.68em;
							}
						}
					}
				}

				.comments{
					margin-top: 4px;

					.comment{
						padding: 8px 4px;
						background: #dedede;
						border-bottom: 4px solid #fff;

						&:last-child{
							border-bottom: none;
						}

						.user{
							font-size: 0.98em;
						    padding-left: 10px;
						    margin-bottom: 8px;
						}

						.commentBody{
							padding-left: 10px;
							width: calc(100% - 10px);
							.commentUserPicture{
								width: 60px;
								display: inline-block;
								vertical-align: top;

								img{
									border-radius: 50%;
								}
							}

							.commentText{
								width: calc(84% - 12px - 60px);
								display: inline-block;
								vertical-align: top;
								padding: 6px;
								margin-left: 6%;
								line-height: 1.2em;
								
								.userName{
									margin-bottom: 8px;
								}
							}

							.deleteComment{
								display: inline-block;
								vertical-align: top;
								width: 10%;
								text-align: center;

								button{
									@extend .mondialatorBtn;

									padding: 0;
									width: 26px;
									height: 26px;
									margin: 0 auto;
								}
							}
						}
					}
				}
			}

			.commentContainer{
				background-color: #dedede;
				form{
					padding: 8px 10px 10px 10px;
					max-width: 640px;
					width: calc(100% - 20px);
					margin: 0 auto;

					.message{
						display: inline-block;
						vertical-align: middle;
						border: none;
						outline: none;
						border-radius: 2px;
						min-height: 36px;
						width: calc(70% - 10px);
						padding-left: 10px;
						margin-right: 2%;
						font-size: 1em;
					}

					.submitMessage{
						display: inline-block;
						vertical-align: middle;
						width: 28%;

						input{
							@extend .mondialatorBtn;
							max-width: 135px;
							margin: 0 auto; 
						}
					}
				}
			}
		}
	}

	.loadingFooter{
		padding: 20px 0;

		button{
			@extend .mondialatorBtn;
			margin: 0 auto;
		}
	}
}