#mondialatorLeaderboard{
	margin-top: 32px;
	background: #fff;
	border-radius: 6px 6px 0 0;
	box-shadow: 3px 2px 20px 0px $mondialatorDarkGrey;
	
	ul{
		padding: 0 12px;
		margin-top: 40px;

		.winner{
			width: 100%;
		    margin: 0 auto 12px;
		    padding: 0 5px 10px 5px;
		    border-bottom: 3px solid #f3f3f3;

			.winnerContainer{
				//max-width: 400px;
				width: 100%;
				margin: 0 auto;

				.rank, .country, .picture, .userData{
					display: inline-block;
					vertical-align: middle;
				}
				
				.rank{
					font-weight: 500;
				    font-size: 1.6em;
				    width: 10%;
				    text-align: center;
				    max-width: 60px;
				}

				.country{
					width: 10%;
					text-align: center;
					font-size: 1.1em;
					max-width: 60px;
				}

				.picture{
					width: 30%;
					max-width: 86px;
					img{
						max-width: 55px;
						border-radius: 50%;
						margin: 0 auto;
					}
				}

				.userData{
					width: calc(50% - 10px);
					padding-left: 10px;

					h3{
						font-size: 1.1em;
						margin-bottom: 8px;
						font-weight: 500;
						color: $mondialatorBlue;
						a{
							color: inherit;
							text-decoration: none;
						}
					}

					p{
						font-size: 0.9em;
						color: #828282;

						i{
							color: $mondialatorBlue;
						}
					}
				}
			}

			&:first-child{
				border-top: 3px solid #f3f3f3;
				padding-top: 10px;
			}

			&:last-child{
				margin-bottom: 0px;
			}
		}
	}

	.leaderboardNav{
		padding: 10px 0;
		button{
			@extend .mondialatorBtn;
		}
	}
}