#mondialatorMainLoader{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height:100%;
	background: $mondialatorBlue;
	color: #fff;
	font-size: 2.2em;
	font-weight: 300;
	text-align: center;
	z-index: 1000;
	
	.subLoadingContent{
		position: relative;
	    top: 50%;
	    transform: translateY(-50%);
	}
}

#mondialatorSubLoader{
	display: none;
	color : $mondialatorBlue;
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #fff;
	text-align: center;
	border-radius: 8px 8px 0 0;
	font-size: 3em;
	opacity: 0;

	&.initBlock{
		display: block;
		opacity: 0.8;
	}

	&.columnDisplay{
		width: 60%;
	    margin-left: 2%;
	    display: inline-block;
	    height: auto;
	}

	.subLoadingContent{
		position: relative;
	    top: 50%;
	    transform: translateY(-50%);
	}
}