#mondialatorLogin{
	width: 100%;
	height: 100%;
	background-color: $mondialatorBlue;
	
	.container{
		height: 100%;
	}

	.login{
		display: table;
		width: 310px;
		margin: 0 auto;
		height: 100%;

		.vcenter{
			display: table-cell;
			vertical-align: middle;
			padding-bottom: 25px;
		}

		.logo{
			text-align: center;
			color: #fff;
			font-size: 2.2em;
			font-weight: 300;
			margin-bottom: 24px;
		}

		.loginContainer{
			margin-left: auto;
			margin-right: auto;
			background: $mondialatorGrey;
			padding: 10px 14px 18px 14px;
			width: calc(100% - 28px);
			border-radius: 8px;

			h3, p{
				text-align: center;
				font-weight: 300;
				font-size: 1.4em;
				margin-top: 15px;
			}

			p{
				margin-top: 10px;
				padding-bottom: 20px;
				border-bottom: 2px solid $mondialatorBlue;
				font-size: 1.2em;
			}

			.providerLogin{
				display: block;
				margin: 0 auto;
				cursor: pointer;
				background: $mondialatorBlue;
				border: none;
				padding: 18px;
				max-width: 300px;
				width: 100%;
				font-size: 1.1em;
				font-weight: 300;
				font-family: $roboto;
				outline: none !important;
				color: #fff;
				
				i{
					margin-right: 10px;
					font-size: 1.3em;
				}

				&.facebook{
					margin-top: 16px;
					background-color: #43609C;

					&:hover, &:active{
						background: #3C4C6D;
					}
				}

				&:last-child{
					margin-bottom: 8px;
				}

				&:hover, &:active{
					background: $mondialatorDarkBlue;
				}
			}
		}
	}
}