#mondialatorNav{
	background : $mondialatorBlue;
	color: #fff;
	display: none;

	&.initBlock{
		display: block;
	}
	nav{
		max-width: 1200px;
		margin: 0 auto;

		h1, ul{
			display: inline-block;
			vertical-align: middle;
		}

		a{
			color: #fff;
			text-decoration: none;

			span{
				&.little{
					display: none;
				}
			}
		}

		h1{
			width: 20%;
		    max-width: 300px;
		    text-align: center;
		    font-size: 1.8em;
		    font-weight: 300;
		    padding: 8px 0;
		    border-right: 2px solid #fff;
		    box-sizing: border-box;
		    vertical-align: center;
		}

		.mainMenu{
			margin-left: 2%;
			width: 58%;
			font-weight: 300;
			vertical-align: middle;

			li{
				display: inline-block;
				font-size: 1.8em;
				vertical-align: middle;
				text-align: center;
				/* width: 25%; */
				width: 33%;
				max-width: 200px;

				a{
					display: block;
					//padding: 12px 14px;
					padding: 14px 0px;

					i.fa{
						font-size: 0.65em;
					}

					span{
						font-size: 0.6em;
					}

					&:hover, &:active{
						background: $mondialatorDarkBlue;
					}
				}				
				
				&:first-child{
					margin-left: 0;
				}

				&.user{
					font-size: 1em;
					padding: 3px 0;
					cursor: pointer;
					position: relative;
					width: 34%;
					.profilePicture, span{
						display: inline-block;
						vertical-align: middle;
					}

					.profilePicture{
						width: calc(30% - 10px);
						margin-left: 10px;
						max-width: 80px;
						
						img{
							border-radius: 50%;
							max-width: 50px;
							margin: 0 auto;
						}
					}

					span{
						width: calc(70% - 20px);
						margin-left: 20px;
						text-align: left;
						i{
							margin-left: 8px;
						}
					}

					.optionsContainer{
						display: none;
						opacity: 1;
						position: absolute;
						margin-left: 0;
						width: 100%;
						left: 0;
						margin-top: 10px;
						z-index: 1001;
						ul{
							position: relative;
							background: #fff;
							box-shadow: 0px 8px 20px 0px #949494;
							min-width: 100%;

							li{
								width: 100%;
								font-size: 1.1em;
								text-align: center;

								a{
									padding: 14px 0;
									color: $mondialatorBlue;
									
									&:hover, &:active{
										color: #fff;
									}
								}
							}

							&::before, &:before{
								width: 0;
								height: 0;
								border-left: 10px solid rgba(0, 0, 0, 0);
								border-right: 10px solid rgba(0, 0, 0, 0);
								border-bottom: 10px solid #fff;
								position: absolute;
								content: "";
								top: -10px;
								left: 50%;
							}
						}
					}

					&:hover, &:active{
						background: $mondialatorDarkBlue;
					}

					&.collapsed{
						background: $mondialatorDarkBlue;
						.optionsContainer{
							display: block;
						}
					}
				}

				&.littleLogout{
					display: none;
				}
			}
		}
		
		#mondialatorSearch{
			display: inline-block;
			vertical-align: middle;
			position: relative;
			width: 18%;
			margin-left: 2%;
			z-index: 1000;

			.aroundSearch{
				position: relative;

				.glass{
					position: relative;
					width: 18%;
					vertical-align: middle;
					display: inline-block;
					top: 0px;
					color: $mondialatorDarkBlue;
					font-size: 20px;
					line-height: 30px;
					text-align: center;
					height: 100%;
					border-radius: 0 2px 2px 0;
				}

				input{
    				display: inline-block;
    				vertical-align: middle;
					box-sizing: border-box;
					background: $mondialatorBlue;
					border: none;
					color: #fff;
					max-width: calc(100% - 6px);
					width: 82%;
					font-size: 1.1em;
					padding: 6px 0;
					padding-bottom: 2px;
					outline: none;
					border-radius: 2px;
					padding-left: 6px;
					font-weight: 300;
					border-bottom: 2px solid $mondialatorDarkBlue;
				}

				::-webkit-input-placeholder { 
				    color:    #fff;
				}
				:-moz-placeholder { 
				   color:    #fff;
				   opacity:  1;
				}
				::-moz-placeholder { 
				   color:    #fff;
				   opacity:  1;
				}
				:-ms-input-placeholder { 
				   color:    #fff;
				}
				:placeholder-shown {
				  color:    #fff;
				}

				input[type="search"]{
					-moz-appearance:    textfield;
					-webkit-appearance: textfield;
					appearance: textfield;
				}

				input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
				input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
				input[type="search"]::-webkit-search-decoration,
				input[type="search"]::-webkit-search-cancel-button,
				input[type="search"]::-webkit-search-results-button,
				input[type="search"]::-webkit-search-results-decoration { display: none; }

			}
			
			.searchMenu{
				position: absolute;
			    top: 100%;
			    width: 300px;
			    left: -50%;
			    max-height: 300px;
			    padding-top: 12px;

				.aroundList{
					position: relative;
					width: 100%;
					box-shadow: 0px 0px 5px 0px #c3c3c3;

					&::before, &:before{
						width: 0;
						height: 0;
						border-left: 10px solid rgba(0, 0, 0, 0);
						border-right: 10px solid rgba(0, 0, 0, 0);
						border-bottom: 10px solid #Fff;
						position: absolute;
						content: "";
						top: -10px;
						left: 50%;
					}
				}

			    .sectionName{
			    	background: #fff;
		    	    text-transform: uppercase;
		    	    padding: 8px 0;
		    	    font-size: 0.9em;
		    	    color: #000;
		    	    font-weight: 500;
		    	    text-align: center;
		    	    border-bottom: 2px solid $mondialatorGrey;
					position: relative;
			    }

				.searchList{
					display: block;

				    li{
				    	text-align: center;
				    	color: #000;
						border-bottom: none;
						background: #fff;
						
				    	ul{
				    		width: 100%;
				    		box-sizing: border-box;

				    		li{
				    			
				    			a{
				    				display: block;
				    				padding: 10px 0;
				    				color: inherit;
									border-top: 1px solid $mondialatorBlue;
									color: $mondialatorBlue;

				    				.profilePicture{
										width: 20%;
										display: inline-block;
										vertical-align: middle;
										margin-left: 10px;

										img{
											border-radius: 50%;
											max-width: 48px;
											margin: 0 auto;
										}
				    				}

				    				.profileName{
										width: calc(80% - 20px);
										display: inline-block;
										vertical-align: middle;
										padding-left: 10px;
										font-size: 1em;
										font-weight: 500;
										text-align: left;	
				    				}

				    				&:hover, &:active{
				    					background: $mondialatorDarkBlue;
				    					color: #fff;
				    				}
				    			}

				    			&:first-child{
				    				a{
										border-top: none;
				    				}
				    			}
				    		}
				    	}
				    }
				} 

				.closer{
					text-align: center;
				    padding: 8px 0;
				    background-color: #fff;
				    color: $mondialatorBlue;
				    border-top: 2px solid $mondialatorGrey;
				    cursor: pointer;

				    &:active, &:hover{
				    	background-color: $mondialatorBlue;
				    	color: #fff;
				    }
				}   
			}
		}
	}	
}