#mondialatorPublish{
	margin-top: 32px;
	background: #fff;
	border-radius: 6px 6px 0 0;
	box-shadow: 3px 2px 20px 0px $mondialatorDarkGrey;

	.dropContainer{
		margin-top: 20px;
		padding: 0 20px 20px 20px;
		form{
			border-color: #f3f3f3;
			background-color: #fff;
			transition: all 0.2s ease-in-out 0.6s;

			.dz-message{
				font-size: 1.2em;
				text-transform: uppercase;
				font-weight: 300;
				opacity: 1;
			}

			&.submissionSend{
				border-color: $mondialatorBlue;
				background-color: $mondialatorBlue;
			}
		}
		.sendContainer{
			min-height: 36px;

			button{
				@extend .mondialatorBtn;
				margin: 18px auto 0;

				&:disabled{
					display: none;
				}
			}
		}
		
	}
}