@media (max-width: 1040px){
	#mondialatorUser{
		.userDataView{
			.dataViewBrief{
				.card, .blason{
					.pictureContainer{
						height: 110px;
						width: 110px;
					}
				}
			}
		}
	}
}

@media (max-width: 900px){
	.mondialatorContainer{
		max-width: calc(1200px - 16px);
		padding: 0 8px;
	}

	#mondialatorUser{
		.userDataView{
			padding: 0 8px;
			.navDataView{
				display: block;
				width: 100%;

				ul{
					margin-bottom: 30px;
					li{
						display: inline-block;
						width: 25%;
						a{
							padding-left: 0px;
							width: 100%;
							padding: 13px 0;
							border: none;
							text-align: center;
						}
					}
				}
			}

			.dataViewBrief{
				display: block;
			    padding: 0 10px;
			    width: calc(100% - 20px);
				margin: 0 auto;
				max-width: 400px;

			    .card, .blason{
			    	margin-left: 5%;
			    	p{
			    		font-size: 0.9em; 
			    	}

			    	&.odd{
			    		margin-right: 10%;
			    	}
			    }

			}
		}
	}
}

@media (max-width: 800px){
	#mondialatorNav{
		nav{
			h1{
				width: 12%;

				a{
					span{
						&.little{
							display: inline;
						}

						&.big{
							display: none;
						}
					}
				}
			}

			.mainMenu{
				width: 64%;

				li{
					&.user{
						display: none;
					}

					&.littleLogout{
						display: inline-block;
						font-size: 1.2em;
					}
				}
			}
		}

		#mondialatorUser{
			
			.userDataView{
				
				.dataViewBrief{
					
					max-width: 700px;

					.card, .blason{
						margin-left: 0%;
						width: calc(30% - 12px);
						padding: 12px 6px;
						margin-right: 3% !important;
					}
				}
			}
		} 
	}

	#mondialatorDock{
		&.initBlock{
			display: block;
			width: 100%;
		}

		nav{
			.userInfo{
				padding-bottom: 16px;
				.userData, .profilePicture, .followData{
					vertical-align: middle;
				}

				.profilePicture{
					max-width: 100px;
					width: 20%;
				}

				.userData{
					width: 50%;
					text-align: center;
					ul{
						li{
							display: inline-block;
							&:last-child{
								margin-left: 6px;
							}
						}
					}
				}

				.followData{
					display: inline-block;
					width: 30%;
					margin-top: 0;
					vertical-align: top;
					padding-top: 8px;
					border: none;
				}
			}

			.dayInfo{
				padding: 10px 6px 10px 6px;
				width: calc(100% - 12px);
				h2{
					font-size: 1em;
				}
			}
		}
	}

	#renderTemplates{
		&.columnDisplay{
			width: 100%;
			margin-left: 0px;
			display: block;
		}
	}

	#mondialatorSubLoader{
		&.columnDisplay{
			width: 100%;
			margin-left: 0;
			display: block;
		}
	}

	#mondialatorFeed{
		.dayInfo{
			padding: 30px 16px 16px 16px;
		}

		.feedData{
			article{
				width: calc(100% - 80px);
				max-width: 680px;
				margin: 24px auto 0;
			}
		}
	}
}


@media(max-width: 606px){
	#mondialatorDock{
		nav{
			.userInfo{
				.followData{
					display: block;
					width: 100%;
					border-top: 2px solid #f3f3f3;
					margin-top: 6px;
					.following, .follow{
						p{
							display: inline-block;
						}
					}
				}
			}
		}
	}

	#mondialatorFeed{
		.feedData{
			article{
				header{
					.author{
						width: 100%;
						display: block;
					}

					.date{
						width: calc(100% - 80px);
						margin-left: 80px;
						text-align: left;
						margin-top: 0px;
					}
				}
			}
		}
	}
}

@media(max-width: 598px){
	#mondialatorFeed{
		.feedData{
			article{
				.commentContainer{
					form{
						.message{
							display: block;
							width: calc(100% - 10px);
							margin-bottom: 10px;
						}

						.submitMessage{
							width: 100%;
							display: block;
							text-align: center;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 500px) {
	#mondialatorNav{
		nav{
			.mainMenu{
				li{
					font-size: 1.4em;
					vertical-align: bottom;
					a{
						i{
							display: none;
						}
					}

					&.littleLogout{
						font-size: 0.8em;	
					}
				}
			}

			#mondialatorSearch{
				font-size: 0.8em;
			}
		}
	}

	#mondialatorFeed{
		.dayInfo{
			h2{
				font-size: 1.4em;
				margin-bottom: 10px;
			}
		}
	}

	#mondialatorFeed{
		.feedData{
			article{
				.subSocial{
					.comments{
						.comment{
							.commentBody{
								.commentUserPicture{
									width: 40px;
									vertical-align: middle;
								}

								.commentText{
									width: calc(84% - 4px - 40px);
									padding: 2px;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media (max-width: 492px) {
	#mondialatorUser{
		.userDataView{
			
			.navDataView{
				ul{
					li{
						a{
							font-size: 0.7em;
						}
					}
				}
			}

			.dataViewBrief{
				.card, .blason{
					margin-left: 0;
					margin-right: 0;
					width: calc(48% - 12px);
					&.odd{
						margin-left: 4%;
					}
					.pictureContainer{
						height: 90px;
						width: 90px;
					}
				}
			}
		}
	}
}

@media (max-width: 440px) {
	#mondialatorDock{
		nav{
			.dayInfo{
				&.initBlock{
					display: none;
				}
			}
		}
	}

	#mondialatorUser{
		.userRecap{
			.numbers{
				ul{
					li{
						width: 25%;
						font-size: 0.8em;
					}
				}
			}
		}

		.userDataView{
			padding: 0px;
		}
	}
}


@media (max-width: 400px) {
	#mondialatorNav{
		nav{
			h1{
				width: auto;
				padding: 8px 4px;
			}

			.userInfo{
				.userData{
					width: calc(100% - 90px);
					text-align: left;

					.name, ul{
						padding-left: 16px;
					}
				}
			}

			#mondialatorSearch{
				.aroundSearch{
					input{
						font-size: 0.8em;
					}

					.glass{
						font-size: 12px;
					}
				}
			}
		}
	}

	#mondialatorLeaderboard{
		ul{
			.winner{
				.winnerContainer{
					.picture{
						img{
							max-width: 40px;
						}
					}

					.userData{
						h3{
							font-size: 0.9em;
						}
					}
				}
			}
		}
	}


	#mondialatorUser{
		.userDataView{
			.dataViewBrief{
				.card, .blason{

					margin-right: 0%;
					display: block;
					width: 100%;
					max-width: 200px;
					margin: 30px auto;
					padding: 20px 12px;

					&.odd{
						margin: 0 auto;
					}

					.pictureContainer{
						height: 130px;
						width: 130px;
					}

					p{
						font-size: 1.2em;
					}
				}
			}
		}
	}

	#mondialatorFeed{
		.dayInfo{
			font-size: 1.2em;
			margin-bottom: 10px;
		}

		.feedData{
			article{
				header{
					.author{
						.profileContainer{
							max-width: 40px;
						}

						.userContainer{
							font-size: 0.9em;

							p{
								&:first-child{
									margin-bottom: 2px;
								}
							}
						}
					}
				}

				.subSocial{

					ul{
						li{
							button{
								span{
									font-size: 0.9em;
								}
							}
						}
					}
					.comments{
						.comment{
							.commentBody{
								width: 100%;
								padding: 0;

								.commentText{
									margin-left: 2%;

									p{
										font-size: 0.9em;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

@media (max-width: 370px){
	#mondialatorNav{
		nav{
			h1{
				font-size: 1.2em;
			}
		}
	}

	#mondialatorFeed{
		.dayInfo{
			padding-top: 20px;
			h2{
				font-size: 1em;
				margin-bottom: 10px;
			}
		}
	}
}