#mondialatorUser{
	margin-top: 32px;
	background: #fff;
	border-radius: 6px 6px 0 0;
	box-shadow: 3px 2px 20px 0px $mondialatorDarkGrey;

	.userRecap{
		padding-top: 26px;
		background: $mondialatorBlue;
		border-radius: inherit;
		text-align: center;
		color: #fff;

		.profilePicture{
			margin-bottom: 16px;

			img{
				margin: 0 auto;
			    border-radius: 50%;
			    border: 6px solid #fff;
			    box-sizing: border-box;
			    height: 126px;
			}
		}

		h2{
			font-size: 1.8em;
			margin-bottom: 18px;

			.flag-icon{
				font-size: 0.85em;
				border-radius: 50%;
			}
		}

		.numbers{
			ul{
				background: #fff;
				color: #000;
				position: relative;
				padding-bottom: 8px;

				li{
					display: inline-block;
					width: 20%;
					text-transform: uppercase;
					font-size: 1em;
					vertical-align: top;

					h3{
						margin: 12px auto 8px;
						color: #0097A7;
					}

					p{
						margin-bottom: 12px;
					}
				}

				&::after, &:after, &::before, &:before{
					width: calc(100% - 20px);
					position: absolute;
					left: 10px;
					top: calc(100% - 8px);
					height: 2px;
					background: $mondialatorGrey;
					content: "";
					display: block;
				}
			}
		}	
	}

	.followBlock{

		button{
			@extend .mondialatorBtn;
			background: #90A4AE;

		    &:hover, &:active{
		    	background: #607D8B;
		    }
		}
	}

	.userDataView{
		padding: 0 8px 0 0;
		margin-top: 20px;
		padding-bottom: 30px;

		.navDataView{
			display: inline-block;
			width: 30%;
			ul{
				li{
					a{
						display: block;
					    font-size: 0.95em;
					    color: #848484;
					    text-decoration: none;
					    padding: 13px 0;
					    padding-left: 20px;
					    width: 100%;
					    box-sizing: border-box;
					    border-left: 4px solid transparent;


					    &.active{
					    	
					    }

					    &:hover, &:active, &.active{
					    	background: #efefef;
					    	border-left-color: $mondialatorBlue;
					    }
					}
				}
			}
		}
		.dataViewBrief{
			display: inline-block;
			width: calc(70% - 40px);
			padding-right: 20px;
			margin-left: 20px;
			vertical-align: top;
			/* box-shadow: -3px 0px 20px 0px #DCDCDC; */
			height: 100%;
			min-height: 170px;
			position: relative;

			/*&::after, &:after{
				left: -20px;
				background: #FF0;
				top: 0px;
				content: "";
				position: absolute;
				z-index: -1;
				height: 100%;
				width: 100%;
				background: red;
				display: block;
			}*/


			.blason, .card{
				width: calc(40% - 24px);
				padding: 12px;
				padding-top: 18px;
				text-align: center;
				text-transform: uppercase;
				border-radius: 12px;
				box-shadow: 3px 0px 20px 0px #DCDCDC;
				//background-color: #fff;
				display: inline-block;
				margin-bottom: 24px;
				
				.pictureContainer{
					background: url("../../images/default_picture.jpg") center center no-repeat;
					height: 130px;
					width: 130px;
					border-radius: 50%;
					//width: 100%;
					background-size: cover;
					//height: 100%;
					margin: 0 auto;

					img{
						margin: 0 auto;
						border-radius: 50%;
						min-width: 145px;
						display: none;
					}
				}

				p{
					margin: 12px auto 6px;
					font-size: 1.2em;

					span{
						font-size: 0.85em;
						border-radius: 50%;
					}
				}

				&.odd{
					margin-right: 20%;
				}

				&.seeAll{
					color: inherit;
					text-decoration: none;

					.rounded{
						border-radius: 50%;
						background: #607D8B;
						color: #fff;
						text-align: center;
						position: relative;
						min-height: 147px;
						font-size: 38px;

						.centerPlus{
							position: absolute;
							width: 100%;
							text-align: center;
							height: 38px;
							top: calc(50% - 20px);
						}
					}
				}

				&.follow{
					color: inherit;
					text-decoration: none;
					p{
						text-transform: none;
					}
				}
			}
		}
	}
}