{% include 'MDMondialatorBundle:Admin:header.html.twig' %}
{% include 'MDMondialatorBundle:Admin:sidebar.html.twig' %}

<div class="col-md-8">
    <div class="page-header">
        <h2>Editer un provider social :</h2>
    </div>
    <div>
        {{form(form)}}
    </div>
</div>
{% include 'MDMondialatorBundle:Admin:footer.html.twig' %}

