{% include 'MDMondialatorBundle:Admin:header.html.twig' %}
{% include 'MDMondialatorBundle:Admin:sidebar.html.twig' %}

<div class="col-md-8">
    <div class="page-header">
        <h2>Liste des providers sociaux : </h2>
    </div>

    <div>
        <h3>Ajouter un provider social</h3>
        <a class="btn btn-success" href="{{ path('mondialator_social_type_add') }}"><span class="glyphicon glyphicon-plus"></span> nouveau provider social</a>
    </div>
    <div>
        <h3>Liste des providers sociaux</h3>

        <table class="table table-hover">
            <tr>
                <th>id</th>
                <th>Nom</th>
                <th>Editer</th>
                <th>Supprimer</th>
            </tr>

            {% for social in listSocialType %}

                <tr>
                    <td>{{social.id }}</td>
                    <td>{{social.name}}</td>
                    <td><a class="btn btn-primary" href="{{ path('mondialator_social_type_edit' , {'id' : social.id})}}"><span class="glyphicon glyphicon-pencil"></span></a></td>
                    <td><a class="btn btn-danger" href="{{ path('mondialator_social_type_remove' , {'id' : social.id })}}"><span class="glyphicon glyphicon-trash"></span></a></td>
                </tr>

            {% endfor %}
        </table>
    </div>

</div>
{% include 'MDMondialatorBundle:Admin:footer.html.twig' %}


