{% include 'MDMondialatorBundle:Admin:header.html.twig' %}
{% include 'MDMondialatorBundle:Admin:sidebar.html.twig' %}

<div class="col-md-8">
    <div class="page-header">
        <h2>Provider supprimé</h2>
    </div>
    <a class="btn btn-success" href="{{path('mondialator_social_types')}}">Retrours à la liste des providers sociaux</a>
</div>
{% include 'MDMondialatorBundle:Admin:footer.html.twig' %}
